/* Full Width ================================================================*/
#content.full-width {
	width:100%;
}
#content.full-width .entry-excerpt{max-width: 100%; margin-left:0; line-height:1.6;}

/* Magazine ================================================================*/
.page-template-page-magazine-php #content .hentry.big, .archive #content .hentry.big{width:620px;}
.page-template-page-magazine-php #content .hentry, 
.archive #content .hentry{
	padding:10px;
	width:290px;
	background:#fff;	
	box-shadow: 0px 0px 5px #cccaca;		
	margin-bottom:20px;
	border-bottom: 2px solid #CCC;
	float:right;
	min-height: 210px;
}

/* Contact ================================================================*/
.page-template-page-contact-php .entry-excerpt{max-width: 100%; margin-left:0;}
.page-template-page-contact-php .atom_button{
	line-height: 1;
	font-size: 17px;
	font-weight: bold;
	padding: 8px 36px 8px 20px;
	margin-right:20px;
	float:right;
}
.page-template-page-contact-php .atom_button span{
	height: 30px;
	line-height: 27px;
}
.page-template-page-contact-php .atom_button:hover span{
	line-height: 32px;
	height:33px;
}
.atom_contactform input[type='text'], .atom_contactform textarea{
	width:60%;
	padding:6px;
	color:#333;
}
.atom_contactform p{
	margin:10px 0;
}
.atom_contactform textarea{
	width:95%;
	height:250px;
}
.atom_contactform label{
	margin-left:10px;	
}
.atom_contactform .required{
	color:#C00;
	font-weight:bold;
}

/* Portfolio ================================================================*/
.page-template-page-portfolio-php #content{
	width:100%;
	margin-right:0;
}
.page-template-page-portfolio-php .entry-thumb{
	float:left;
	margin:5px;
	padding:4px;
	background:#fff;
	border:1px solid #eee;
}
.page-template-page-portfolio-php .entry-thumb:hover{
	border-color:#ccc;
}
.page-template-page-portfolio-php .entry-thumb span{
	background:url(../images/portfolio-hover.png) no-repeat;
	position:absolute;
	width:300px;
	height:200px;
	display:none;
}
.page-template-page-portfolio-php .wp-pagenavi{
	text-align:center;
	margin-top:20px;
}