/*@media only screen and (-webkit-min-device-pixel-ratio: 2),  
 only screen and (min--moz-device-pixel-ratio: 1.5),  
 only screen and (min-device-pixel-ratio: 1.5) {  */
	body{background:#000;}
	#responsive{position:absolute;}
	#responsive, .wrapper{
		width:100%;	
		background: url(../images/bg.png) white;
		text-align: center;
	}	
	#menu{	
		width:225px;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:20px;
		font-weight:bold;
		background:#646464;
		position:absolute;
		z-index:-1;
		position:fixed; height:100%;
	}
	#menu h2{
		margin:0;
		padding:10px;
		color:#444;
		font-size: 30px;
		text-align: center;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	}
	#menu li{
		display:block;
		width: 225px;
		background:#646464;
	}
	#menu a{
		border-top:1px solid #808080;
		border-bottom:1px solid #3a3a3a;
		color:#999;
		text-shadow:1px 1px 0px #000;
		background:url(../images/responsive-menu-icon.png) no-repeat 10px;
		padding-left: 40px;
		opacity:0.7;
		border-left:0;
	}
	#menu a:after{
		border-left:8px solid #333;
		border-bottom:8px solid #333;
		display:block;
		width:15px;
		height:15px;
		content:' ';
		transform: rotate(-130deg);
		-ms-transform: rotate(-130deg); /* IE 9 */
		-webkit-transform: rotate(-130deg); /* Safari and Chrome */
		-o-transform: rotate(-130deg); /* Opera */
		-moz-transform: rotate(-130deg); /* Firefox */
		float:right;
		-moz-box-shadow:    -1px 0px 0px 0px #999;
		-webkit-box-shadow: -1px 0px 0px 0px #999;
		box-shadow:         -1px 0px 0px 0px #999;
	}
	#menu a:hover{
		opacity:1;
		color:#fff;
	}
	
	#menu-button{
		height:45px;
		background:#3b3b3b;
	}
	#menu-button a{
		background:url(../images/responsive-menu-button.png) no-repeat;
		width:53px;
		height:30px;
		position: absolute;
		top: 6px;
		left: 6px;
		text-indent:-999px;
	}
	#branding {
		float:none;
		text-align:center;
	}
	#header{
		border-bottom:3px solid #3b3b3b;
		width:100%;
	}
	#site-logo, #site-description{margin:0;}
	#featured{	
		border:4px solid #fff;
		-moz-box-shadow:    0px 0px 3px 0px #333;
		-webkit-box-shadow: 0px 0px 3px 0px #333;
		box-shadow:         0px 0px 3px 0px #333;
		width: 97%;
		height:353px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	
	#featured:hover a{
		display:block;
	}
	#featured a{
		z-index: 9;
		font-size: 20px;
		height:auto;
		width:auto;
		padding:0.5em 1.3em;
		position: absolute;
		left: 36%;
		top: 42%;
		background-color: #F00;
		border: 3px solid #fff;
		font-family:Verdana, Geneva, sans-serif;
		text-transform:uppercase;
		letter-spacing:2px;
	}
	#featured img{
		width:100%;
		height:353px;
	}
	#slider{
		left:0;
		top:0;
		height:360px;
	}
	.nivo-controlNav{
		display:none;
	}
	#featured .atom_button{display:none;}
	.nivo-caption {width:auto !Important;}
	#featured-container{
		padding-bottom: 20px;
		border-bottom: 3px solid #3B3B3B;
	}
	#content{
		width:auto;
		margin:20px;
		float:none;
	}
	.hentry .title{text-align: center;}
	.hentry .title a {
		padding-left:20px;
	}
	
	#responsive .blurb{
		display:block;
		font-size: 14px;
		width: auto;
		min-height: 0;
	}
	.blurb-description{
		width:auto;	
		float: none;
		text-align: center;
	}
	img.blurb-thumb{
		border:none;
		box-shadow:none;
		margin-top: -15px;
		margin-right: 10px;
	}
	#responsive #sidebar{
		float:none;
		margin:auto auto 60px;
		width: 90%;	
		text-align: left;
	}
	#sidebar .entry-excerpt, #sidebar .entry-title{
		font-size:14px;
		margin-left:130px;
	}
	#latest-posts .title{margin-bottom: 10px;margin-top: 10px;}
	
	/* BLOG PAGE */
	#content.full-width{width:auto;}
	#latest-posts img {border:none; width:initial;}
	.entry-thumb img {width:99%;}
	.entry-excerpt{text-align:left;}
	.hentry .atom_button.readmore, .comment .atom_button.readmore{float:right;}
	
	/* SINGLE PAGE */
	#mobile-header{position:relative;}
	#post-navi {bottom:5px;}
	#breadcrumb {position:inherit;float: left;margin-left: 20px; text-align:left; top:0;}
	#breadcrumbs {display:inline;}
	
	#sidebar .widget-container {
		display:inline-block;
	}
 /*}*/
