/* ADMIN > SHORTCODE TB =========================================*/
#tf_shortcodes .tf_list span{
	font-size:11px;
	font-style:italic;
	margin-left:50px;
	font-weight:normal;
}
#tf_shortcodes textarea, 
#tf_shortcodes input[type="text"],
#tf_shortcodes input[type="password"],
#tf_shortcodes input[type="file"], 
#tf_shortcodes input[type="email"], 
#tf_shortcodes input[type="number"], 
#tf_shortcodes input[type="search"], 
#tf_shortcodes input[type="tel"], 
#tf_shortcodes input[type="url"], 
#tf_shortcodes select {
	width:60%;
	margin-left:30px;	
}
#tf_shortcodes .tf_list{
	font-weight:bold;
	font-size:13px;
	margin-bottom:5px;
}
#tf_shortcodes{line-height: 1.6;}

/* SHORTCODE > Button ================================================================*/
.atom_button {
	cursor: pointer;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	display:inline-block;
	padding: 0.5em 1.3em;
	color: #fff;
	font-size: 16px;
	position:relative;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	text-decoration:none;	
	border: 1px solid #999;
	border: rgba(0, 0, 0, .2) 1px inset;
	border-top: rgba(255, 255, 255, .5) 1px solid;
	border-bottom: rgba(0, 0, 0, .3) 1px inset;
	box-shadow: 0px -1px 1px rgba(0,0,0,.7);
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .1) 0%,
		rgba(0, 0, 0, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(0, 0, 0, .1)),
		to(rgba(255, 255, 255, .1))
	);/* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */
	-moz-user-select: none;
	background-color:#999;
}
.atom_button:hover{background-image:none;}
.atom_button:active{top:1px;}
.atom_button.small{font-size: 12px;}
.atom_button.large{font-size: 25px;}
.atom_button.black{background-color:#333;}
.atom_button.grey{background-color:#666;}
.atom_button.white{background-color:#fff;color:#444;}
.atom_button.blue{background-color:#506fd5;}
.atom_button.green{background-color:#91BD09;}
.atom_button.red{background-color:#E62727;}
.atom_button.yellow{background-color:#FFB515;}
.atom_button.orange{background-color:#FF5C00;box-shadow-color:#FF5C00;}
.atom_button.pink{background-color:#E22092;}
.atom_button.rosy{background-color:#F16C7C;}
.atom_button.magenta{background-color:#A9014B;}

/* SHORTCODE > Nivo ================================================================*/
.nivoContainer{
	margin-bottom:40px;
	position:relative;
}
.CycleContainer{
	margin-bottom:40px;
	position:relative;
}
.nivo-shadow{
	background:url(../lib/shortcodes/images/shadow.png) no-repeat;
	width:874px;
	height:41px;
	margin:auto;
}
.nivo-frame{
	display:none; /*show if used only*/
	border:3px solid rgba(255,255,255,0.7);
	position:absolute;
	top:0;
	left:0;
	z-index:99;
}
.nivo-controlNav{
	position:absolute;
	bottom:-60px;
	right:0;
}
.cycle-nav{
	position:absolute;
	bottom: 8px;
	right:0;
	z-index: 9;
}
.nivo-control, .cycle-nav a{
	text-indent:-9999px;
	background:#7b7b7b;
	width:67px;
	height:18px;
	display:inline-block;
	margin-right:10px;
}
.nivo-control:hover, .cycle-nav a:hover{
	background:#888;
}
.nivo-control.active, .cycle-nav a.activeSlide{
	background:#bdbdbd;
}

/* SHORTCODE > Column ================================================================*/
.one_half, .one_third, .two_third, .one_fourth, .three_fourth, .one_fifth, .four_fifth, .two_fifth, .three_fifth, .one_sixth, .five_sixth {float: left;margin-right: 4%;position: relative;margin-bottom: 15px;}
.one_half{width:48%;}
.one_third { width: 30.66%; }
.two_third { width:65.32%; }
.one_fourth { width:22%; }
.three_fourth {width: 74%;}
.one_fifth{width: 16.8%;}
.four_fifth {width: 79.2%;}
.two_fifth {width: 37.6%;}
.three_fifth {width: 58.4%;}
.one_sixth {width: 13.3333%;}
.five_sixth {width: 82.6665%;}
.last {margin-right: 0px !important;clear: right;}

/* SHORTCODE > Image ================================================================*/
#bottomNavClose img, #loadingLink img{ display:none; }
#bottomNavClose{background:url(../lib/shortcodes/images/closelabel.gif) no-repeat; width:66px; height:22px;}
#loadingLink{background: url(../lib/shortcodes/images/loading.gif) no-repeat center;width: 100%;display: block;height: 100%;}
.overlay_link{
	background:url(../lib/shortcodes/images/details.gif) no-repeat center;	
}
.overlay_lightbox{
	background:url(../lib/shortcodes/images/search.png) no-repeat center;
}
.overlay_link, .overlay_lightbox{
	width:100%;
	position:absolute;
	height:100%;
	top:0;
	left:0;
	background-color:rgba(255,255,255,0.75);
	display:none;
}
a.imglink{
	display:block;
	border:5px solid #d9d9d9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;width: 97%;
	margin:10px 0 13px;
}

/* SHORTCODE > Box ================================================================*/
.atom_box{
	border: 1px solid #BBB;
	margin-bottom: 20px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;	
	background-color: #F0F0F0;
	padding:0 !important;
}
.atom_box .inner{
	border: 1px solid white;
	padding: 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.atom_box .title{
	padding: 10px;
	border:1px solid #fff;
}
.atom_box.default .inner{padding:20px !important;}
.atom_box.error{
	border: 1px solid #FCBEC0;
	background: #FFF3F3;
}
.atom_box.error .title{
	background: #FDE9EA;
	color: #A14A40;
	margin:0;
}
.atom_box.error .inner{	
	border-top: 1px solid #FCBEC0;
	border-left: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #684C4C;
}
.atom_box.notice{
	background: #FFF9CC;
	color: #736B4C;
	border-color: #FFDB4F;
}
.atom_box.note{background:#fdfde7;color: #333;}
.atom_box.note .title{border:none; padding-bottom:0; font-size:18px; font-family: 'Quicksand', sans-serif;margin: 0;background: none;}
.atom_box.note .inner{border:none;}
.atom_box.success{background: #E2F2CE;color: #466840;border-color: #BFE098;}

/* SHORTCODE > Sidebar ================================================================*/
.sidebar{width: 300px;}
.sidebar.left{float:left; margin-right:20px;}
.sidebar.right{float:right; margin-right:10px; margin-left:20px;}
.sidebar .widget-title{
	font-family: 'Poiret One', cursive, Arial;
	font-size: 25px;
	letter-spacing:3px;
	margin-bottom: 18px;
}
.sidebar .widget-container{
	margin-bottom:30px;
}
.sidebar li{
	list-style:none;
}
.sidebar ul ul li {
	border-bottom: 1px solid #ccc;
	margin-left:10px;
}
.sidebar ul ul li:last-child{border-bottom:none;}
.sidebar a{
	text-decoration:none;
	color:#333;
	padding-bottom: 8px;
	padding-top:6px;
	display:block;
	background: url(../lib/shortcodes/images/bullet.png) no-repeat 0px 11px;
	padding-left: 18px;
}
.sidebar a:hover{
	opacity:0.6;
}
.sidebar .widget-container .ads_125x125{margin-left:0;}
.sidebar .widget-container .ads_125x125 li{
	background:url(../lib/shortcodes/images/ads_125x125.png) no-repeat;
	width:125px;
	height:125px;
	display:inline-block;
	padding: 0;
	margin:0;
	border:none;
}

/* SHORTCODE > Typography ================================================================*/
.dropcap{
	font-size: 30px;
	position: relative;
	width: 26px;
	display: inline-block;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	float: left;
	line-height: 1;
	top: 5px;
}
.dropcap.bg{
	background:#444;
	color:#FFF;
	width: 35px;
	text-align: center;
	margin-right: 10px;
	line-height: 36px;
	border:1px solid #fff;
	top:0px;
}
.dropcap.shadow{
	box-shadow: 1px 1px 1px #999;
	top:0;
}
.blockquote{
	background:url(../lib/shortcodes/images/quote.png) no-repeat;
	min-height:30px;
	padding-left:45px;
	display:block;
	font-size:16px;
	line-height:1.6;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#444;
	margin:10px 20px;
}
.blockquote.alignleft, blockquote.alignright{
	width: 40%;
}
.blockquote .cite{
	font-size:12px;
	color:#777;
	display: block;
	margin: 10px;
}
.highlight{
	background: #FF9;
}
.toggle .sign{
	font-size: 30px;
	font-family: arial;
	position: absolute;
	margin-left: -30px;color: #AAA;
}
.toggle .title{
	margin:0 30px !Important;
	color: #777;
	cursor:pointer;
	background:none !important;
}
.toggle .code{
	border: 1px solid #CCC;
	padding:20px;
	display:block;color: #555;
	font-family:"Courier New", Courier, monospace;
	margin-left:20px;
}
#content .syntaxhighlighter .code .line.alt2 {
	background-color: #fbfbfb !important;
}
#content .syntaxhighlighter .code .line.alt1 {
	background-color: #f2f2f2 !important;
}


/* SHORTCODE > Contact Form ================================================================*/
.atom_contactform input[type='text'], .atom_contactform textarea{
	width:60%;
	padding:6px;
	color:#333;
	border: 1px solid #CCC;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.atom_contactform p{
	margin:10px 0;
}
.atom_contactform textarea{
	width:95%;
	height:250px;
}
.atom_contactform label{
	margin-left:10px;	
}
.atom_contactform .required{
	color:#C00;
	font-weight:bold;
}

/* SHORTCODE > Gallery ================================================================*/
.gallery img{
	background:#fff;
	padding:1px;
	margin:2px;
}

/* SHORTCODE > Table ================================================================*/
table.style1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: white;
	width: 98%;
	border-collapse: collapse;
	text-align: left;
	margin: 20px;
}
table.style1 th{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	border-bottom: 2px solid #6678B1;
	padding: 10px 8px;
}
table.style1 td{
	border-bottom: 1px solid #CCC;
	color: #669;
	padding: 6px 8px;
}

table.style2 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	width: 98%;
	text-align: left;
	border-collapse: collapse;
	margin: 20px;
}
table.style2 th{
	font-weight: normal;
	font-size: 13px;
	color: #039;
	background: #B9C9FE;
	padding: 8px;
}
table.style2 td{
	background: #E8EDFF;
	border-top: 1px solid white;
	color: #669;
	padding: 8px;
}
table.style2 tbody tr:hover td {
	background: #D0DAFD;
}