/*
Theme Name: Babailan
Theme URI: http://themetribe.com/
Author: Themetribe Team
Author URI: http://themetribe.com/
Description: SOMETHING ABOUT BABAILAN THEME.
Version: 1

Tags: 
Text Domain: Themetribe
*/
@import url(http://fonts.googleapis.com/css?family=Kreon);

/* GLOBAL ====================================================================================*/
.element {
    border-bottom:7px solid #e4e4e4; 
    margin-top:40px;
    position: relative;
}
.element span.title{
    font-family:Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    font-size:11px;
    color:#929292;    
    position:absolute; 
    bottom: -14px;
    right:0; 
    display:inline-block;
    background:#fff;
    font-style:normal;
    padding: 0 10px;
}
#main .blurb .atom_button,
.page-template-blog-page-php #main .atom_button,
.archive #main .atom_button,
.excrpt-btn,
.wpsc_buy_button_container .wpsc_buy_button,
#cart-widget-links .gocheckout,
#cart-widget-links .emptycart{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:11px!important;
    color:#525252;
    text-shadow:1px 1px 0px #fff;
    box-shadow:1px 1px 2px #999;
}
.wpsc_buy_button_container .wpsc_buy_button,
#cart-widget-links .gocheckout,
#cart-widget-links .emptycart{
    padding:4px 12px!important;
}
.form-submit #submit {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #A2A2A2;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
.form-submit #submit:hover {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;   
  -webkit-transition: background-position 0.01s linear;
  -moz-transition: background-position 0.01s linear;
  -o-transition: background-position 0.01s linear;
  transition: background-position 0.01s linear;
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.body-wrap {
	background: #DDDDDD url('images/pattern-bblan.png')repeat;
}
.bg-wrap {
	background: #FFFFFF;
	padding: 0 20px;
}
.page-template-default .def #content,
.index_temp #content {
	margin-left: 0px!important;
}
.page-navi {
	width: 600px!important;
	float: left;
}
.full-width #content {
	width: 940px!important;
}

/* GENERAL ==========================================================================================*/
.excerpt p {
    text-align: justify;
}                              

/* COMMENT FORM ===============================================================================*/
.comment-notes {
    font-style: italic;
    color: #C0C0C0;
}
.comment-form-comment #comment {
    width: 80%;
}
#commentform label {
    display: inline;
    font-weight:bold;
    color: #3B3B3B;  
}
#commentform input,
#commentform textarea {
    display: block;
}
#comments{
    margin-top:40px;
}
#comments-title{
    font-size:25px; 
    color: #777;
}
#comments a{
    text-decoration:none; 
    color:#03F;
    margin-right:10px; 
}
#comments a:hover{
    text-decoration:underline;
}
#comments .commentlist{
    list-style:none; 
    margin-left:10px; 
    margin-top:10px;
}
.comment .avatar{
    border: 2px solid white; 
    box-shadow:1px 1px 3px #000; 
    float: left; 
    margin-right: 15px;
}
#author_name, 
.fn a, 
.fn {
    color: #3B3B3B;
    text-transform: capitalize;
    padding-top: 0; 
    font-weight:bold;
}
.comment-content{ 
    margin:10px; 
    font-size:13px; 
    color:#333;}
.reply {
    float: right;
    margin-top: -10px;
}
article.comment{
    border:1px solid #ddd;
    padding:10px;
    background:#f9f9f9;
    margin-bottom:10px;
}
.comment ul.children {
    margin-left: 20px;
}
.comment ul.children article.comment{
    background: #EEE;
}
ol.commentlist li.comment{
    margin-bottom:20px; 
    list-style:none;
}
.commentlist .comment{}
.form-allowed-tags{
    display:none;
}
#comments input[type="text"], 
#comments textarea {
    padding: 7px 12px;
    color: black;
    font-size: 13px;
    border: 1px inset;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    left: 0;
}    
#comments .comment-notes .required {
    position: 
    inherit;
    top: 0;
    left: 0;
}
#comments p {
    position: relative; 
    margin-bottom:0 !important;
}
#comments .required {
    color: red;
    font-size: 20px;  
}
#comments .comment-form-comment label {
    vertical-align: top;
}  
#comments #submit,
.btn_contct {
    padding: 7px 13px;
    color: #303030;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;       
}
#respond p{padding:3px;}

/* Widget In General (Sidebar and Footer)=========================================================================*/
.widget-title{
    font-family: 'Kreon', serif;
    font-size:20px;
    padding-bottom:10px;
    margin-bottom:18px;
    margin-top:30px;
    border-bottom:1px solid #c0c0c0;
    box-shadow:0px 1px 0px #fff;
    color:#3c3c3c;
    font-weight: normal;
    line-height: 20px!important;
}

/* HEADER ====================================================================================*/
#branding {
    min-height:153px;
}
.logo {
    margin: 50px 0 20px;
}
#site-title a{
    color:#106ca4;
    font-size:50px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-decoration:none;
}
#ads_468X60 {
    margin-top: 25px;
}
#site-description{
    font-size:15px; 
    font-family:Georgia, "Times New Roman", Times, serif; 
    color:#217ab1; 
    margin:0px 0 0 15px; 
    font-style:italic;
}

/* HEADER > Menu ====================================================================================*/
#access{
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:15px;
    margin-top:-12px;
}
#access li{
    background:none;
}
#access li a{
    /*border:none;*/
    color:#585858;
    padding-right:1em;
}
.sf-menu {
    float:right!important;
	background:url('images/graynav-bg.png')repeat;
	margin-bottom: 8px;
    margin-top: 3px;
}
.sf-menu li {
	padding: 9px 0 9px;
}
.sf-menu li a {
	border-right: 1px solid #E0E0E0;
	border-top: 0px!important;
	padding: 0px 18px!important;
}
.sf-menu li:hover, 
.sf-menu li.sfHover, 
.sf-menu li>a:focus, 
.sf-menu li>a:hover, 
.sf-menu li>a:active{
	color:#111!important;
	text-decoration: none;
	background: none!important;
}

/* HEADER > Menu > 2nd Heirarchy ====================================================================================*/
#access ul ul{
    box-shadow:0px 0px 5px rgba(0,0,0,0.50);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index:100;
}
#access ul ul li:first-child a{
    padding-top:20px;
}
#access ul ul li:last-child a{
    padding-bottom:20px;
}
#access ul ul li:first-child a, 
#access ul ul li:first-child{
    border-top-color:#747474;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;  
	border-left: 0px!important;
	border-right: 0px!important;
}
.sub-menu li:hover,  
.sub-menu li a:focus, 
.sub-menu li a:hover, 
.sub-menu li a:active{
	background:rgba(255,255,255,1)!important;
}
#access ul ul li:last-child a, #access ul ul li:last-child{
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;    
}
#access ul ul li{
    background:rgba(255,255,255,0.9);    
}

/* HEADER > Menu > 3rd Heirarchy */
#access ul ul ul {
    top: 5px;
    margin-left: -10px;
}

/* HEADER > Featured ===============================================================================================*/
#featured{
    border:1px solid #a3a3a3;
    height:445px;
    position:relative;
}
#bgimages{
    margin-top: 1px;
    position: absolute;
    width:100%;
}
#featured .overlay{
    background:url(images/featured-bg.png) repeat-x;
    height:443px;
    width:100%;
    position:absolute;
    top:1px;
    z-index:10;
}
#bgimages img{
    position:relative; 
    z-index:0; 
    width:100% !important; 
    height:443px;
}
#featured .coin-slider{    
    z-index: 11;
    border:3px solid #fff;
    box-shadow:1px 1px 4px rgba(0,0,0,0.75);
}
#sliderwrap{
    margin-top:23px;    
}
#cs-buttons-slider{display:none;}
#cs-next-slider, #cs-prev-slider{
    width:48px;
    height:48px;
    text-indent: -1000px;
    padding:0;
    margin:0 10px;
    display:block;
}
#cs-next-slider{
    background:url(images/navr.png) no-repeat;
	right:18px!important;
}
#cs-prev-slider{
    background:url(images/navl.png) no-repeat;
}

/* HOME > Testimonials ===========================================================================================================*/
#testimonials-wrapper {
	height: 200px;
}
#testimonials{
    font-style:italic;
    display:block;
    text-align:center;
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:20px;
    line-height: 1.3;
    margin:10px auto 18px;
}
.testimonial{
    margin: 0 auto!important;
    float: none!important;
}
#testimonials cite{
    font-size: 24px;
    color: #777;
    display: block;
    text-align: right;
}
#testimonials-wrapper nav .left, 
#testimonials-wrapper nav .right{
    width:10px;
    height:15px;
    position:absolute;
    top:42%;
    text-indent:-9999px;
    cursor:pointer;
    z-index:10;
    opacity:0.7;
}
#testimonials-wrapper nav .left{
    background:url(images/navl2.png) no-repeat;    
    left:0px;
	margin-left: 20px;
}
#testimonials-wrapper nav .right{    
    background:url(images/navr2.png) no-repeat;
    right:0;
	margin-right: 20px;
}
#testimonials-wrapper nav a:hover{
    opacity:1;
}


/* BLURB ===============================================================================================*/
#blurbs {
	height: 220px;
	margin-left: -20px;
    width: 980px;
}
.blurb-in {
	padding: 0 20px;
}
.blurb{
    display:inline-block;
    font-size:13px;
    color:#5e5e5e;    
}
#blurbs h3.title{
    position:relative;
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:20px;
    color:#272727;
    font-weight: normal;
}
#blurbs .blurb-thumb{
    float:left;
    margin-right: 10px;
}
#blurbs .sub-title{
    font-size:11px;
    font-style:italic;
    color:#5e5e5e;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 0;
    padding-bottom: 0;
}
#blurbs .blurb-description{
	height: 115px;
}
#blurbs .blurb-description p {
	text-align: justify;
}
#blurbs .atom_button{
    float:right;
    margin-right:10px;
    margin-bottom: 20px;
}

/* FOOTER ===============================================================================================*/
#footer{
    margin-top:7px;
}
#footer .foot-in {
	margin-left: 0px!important;
}
#footer-widget{
    background:#efefef;
    border-bottom:4px solid #fff;
	margin-left: -20px;
    width: 980px;
}
#footer li{
    list-style:none;
    margin-left:0;
}
#footer .widget-area{
    float:left;
    font-size:12px;
}
#footer .widget-area div{
    line-height:1.6;
}
#footer .widget-area ul ul li{
    padding-bottom:9px;    
    line-height:1.5;
}
#footer .widget-area ul ul li:hover{
    background:#3f3f3f!important;
    color:#ccc;
}
#footer .widget-area ul ul li:hover a{
    color:#fff;
    text-decoration:none;
}
#footer .widget-area a{
    color:#3e3e3e;
    text-decoration: underline;
}
#site-info{
    font-size:12px;
    color:#5e5e5e;
    font-style:italic;
    border-top:7px solid #e4e4e4;
    padding-top:10px;
    margin-bottom:20px;
	width: 980px;
	margin-left: -20px;
}
#site-info a{
    text-decoration:none;
    color:#5e5e5e;    
}
#site-info a:hover{
    text-decoration:underline;
}
#credits{
    text-align:center;
}

/* WIDGET =====================================================================================================*/
.widget-container ul{
    margin-left: 0!important;
}
#archives ul{
    margin-left: 25px!important;
}
.xoxo {
    width: 200px;
    margin: 0 auto!important;
}

/* WIDGET > TF Recent Posts =====================================================================================================*/
.tf-recent-post li{
    padding-left:0 !important;
    border-bottom:none !important;
}
.tf-recent-post img{
    border:1px solid #fff;
    box-shadow:0px 0px 2px #000;
    float: left;
    margin-right: 10px;
    margin-left:10px;
}
.tf-recent-post .title{
    font-weight:bold;
    margin-bottom:3px;
    padding: 0;
}

.tf-recent-post .date{
    padding:0;
}

/* WIDGET > TF Contact Info =====================================================================================================*/
.tf-contact-info li{
    border-bottom:none !important;
    padding-left:20px !important;
    margin-left:5px !important;
    padding-bottom:5px !important;
    padding-top:5px !important;
}
.tf-contact-info .mobile{
    background:url(images/mobile.png) no-repeat 0px 8px;    
}
.tf-contact-info .mail{
    background:url(images/mail.png) no-repeat 0px 8px;
}
.tf-contact-info .address{
    background:url(images/address.png) no-repeat 0px 8px;
}

/* SIDEBAR ===========================================================================================================*/
#sidebar{
    font-size:12px;
    line-height: 1.6;
}
.blog-right-sidebar #sidebar,
.single .single-page #sidebar,
.page-template-page-contact-php .sidebar_def,
.page-template-default .sidebar_def,
.sidebar_err_page,	
.sidebar_index_temp {	
    margin-right: 0; 
    margin-left:8px;
	border-left: 1px solid #d0d0d0;	
    width:290px!important;
	float: right;
}
.blog-left-sidebar #sidebar {	
    margin-right:8px;
	border-right: 1px solid #d0d0d0;	
	width: 265px;
	padding-right:25px;
}
.blog-left-sidebar #sidebar>ul{
	margin: 0 0 10px 0px!important;
}
/*#sidebar #searchsubmit, */
#sidebar .screen-reader-text{
    display:none;
}                         
#sidebar #s{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding:4px 5px 7px;
}
#sidebar .widget-container{
    margin-bottom:30px;
}
#sidebar ul ul li{
	line-height: 10px!important;
}
#sidebar li{
    list-style:none;
    line-height: 5px;
}
#sidebar li:not(#ads_125x125-2) li:not(.recentcomments) a,
#sidebar #recentcomments li,
#sidebar .widget_wpsc_product_specials h4{    
    padding-bottom: 8px;
    padding-top:12px;
    display:block;
    background: url(images/bullet.png) no-repeat 0px 14px;
    padding-left: 18px;
}
#sidebar aside:not(#ads_125x125-2) aside:not(.recentcomments) a,
#sidebar #recentcomments aside,
#sidebar .widget_wpsc_product_specials h4{    
    padding-bottom: 8px;
    padding-top:12px;
    display:block;
    background: url(images/bullet.png) no-repeat 0px 14px;
    padding-left: 18px;
}
#sidebar a{
    text-decoration:none;
    color:#333;
}
#sidebar a:hover{
    opacity:0.6;
    text-decoration: underline;
}
#sidebar .widget-container .ads_125x125{
    margin-left:0;
}
#sidebar .widget-container .ads_125x125 li{
    background:url(images/ads_125x125.png) no-repeat;
    width:125px;
    height:125px;
    display:inline-block;
    padding: 0;
    margin:0 0 2px;
    border:none;
}

/* BLOG ===========================================================================================================*/
#content{
    position:relative;
    margin-bottom: 20px;
}
.medium-thumb #content{
	margin-right: 0px;
}
.blog-left-sidebar #content{
	float: right!important;
	width:630px;
	padding-top: 20px;
}
.blog-right-sidebar #content {	
	padding-top: 20px;
}
.page-template-page-blog-php .full-thumb,
.page-template-page-blog-php .medium-thumb,
.single .single-page,
.page-template-page-contact-php .contact_page,
.page-template-default .def,
.index_temp {
	margin-left:0px!important;
	border-top: 1px solid #D0D0D0;
	padding-top: 0px!important;
}
.page-template-page-blog-php .full-thumb article {
	margin-bottom: 50px;
}
.page-template-page-blog-php .medium-thumb  article {
	margin-bottom: 50px!important;	
	border-bottom: 1px solid #d0d0d0;
	width: 98% !important
}
#content .title a,
#content .title{
    text-decoration:none;
    color:#444;
    font-size:27px;
/*    font-family: Georgia, "Times New Roman", Times, serif;*/
    text-transform: capitalize;
}
#content .title a:hover {
    text-decoration: underline;
}
.full-thumb #content h2 {
    margin: 10px 0 7px;
}
#content p {
    padding-bottom: 10px;
}
.full-thumb #content .entry-header {
	height: 75px;
	clear: both;
	width: 630px;
}
.medium-thumb #content .entry-header {
	width: 625px;
}
#content .entry-header .entry-title {
	margin-bottom: 10px;
}
#content .entry-header .entry-title a {
	color:#333333!important;
}
#content .hentry,
.single #content .entry{
    margin-bottom:20px;    
    float:left;
    position:relative;
    font-size:13px;
    width: 100%;
    color:#333;
}
.single #comments .fn a,
.single #comments .reply a {
	color: #000000;
}
#content .entry-header .posted-on,
.single #content .entry .posted-on,
.single #comments .comment-date a {
	color: #C0C0C0;
	font-style: italic;
}
.single #comments .comment-date a:hover {
	text-decoration: none;
}
#content .entry-header .posted-on .lbl,
.single #content .entry .posted-on .lbl {
	background: url('images/calendar.png')no-repeat 5px 2px;
	color:transparent;
	width: 25px;
	float:left;
	height: 20px;
}
.full-thumb #content .entry-header .posted-on > a,
.single #content .entry .posted-on > a{
	background: url('images/comment.png')no-repeat left center;
	float: right;    
	padding-left: 22px;
    min-width: 68px;
}
.medium-thumb #content .entry-header .posted-on > a{
	background: url('images/comment.png')no-repeat left center;
	padding-left: 22px;
	margin-left: 5px;
}
#content .entry-header .posted-on > a:hover{
	color:#0088CC;
	text-decoration: none;
}
.full-thumb #content .entry-header .entry-meta,
.single #content .entry-meta {
	border-top: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	padding: 4px 0 ;
}
#content .meta{
    margin: 5px 0px 10px;
    font-size:11px;
    text-transform:uppercase;
    color:#5e5e5e;
    font-style:italic;
}
#content .meta a{
    text-decoration:none;
    color:#03F;
}
#content .meta a:hover{
    text-decoration:underline;
}
.page-template-page-blog-php .full-thumb .entry-thumb,
.page-template-page-blog-php .medium-thumb .entry-thumb,
.single #content .entry .thumb{
	background-color:#F0F0F0 !important;
	border:1px solid #FFFFFF !important;
	clear:both;
	margin-bottom: 15px;
	box-shadow: #ECECEC 0 0 4px 1px;
	-moz-box-shadow:#ECECEC 0 0 4px 1px;
	-webkit-box-shadow:#ECECEC 0 0 4px 1px;
	padding: 5px;	
}
.single #content .entry .thumb{
	margin-top: 20px;
}
.page-template-page-blog-php .full-thumb .entry-thumb {
	width:613px !important;
}
.page-template-page-blog-php #main .entry-thumb img{
}
.full-thumb #content .thumb{
    float:left;
    margin-right: 20px;
    border: 2px solid white;
    box-shadow: 1px 1px 3px #777;
}
.full-thumb #content .thumb img{
    border: 1px inset #fff;
}
.page-template-page-blog-php .full-thumb .entry-content,
.single #content .entry-content {
	margin-bottom: 40px;
	clear: both;
	width: 630px;
}
.single #content .entry-content {
	margin-top: 20px;
}
.page-template-page-blog-php .medium-thumb .entry-content {
	width: 630px;
}
.page-template-page-blog-php .full-thumb .entry-content p,
.single #content .entry-content p,
.page-template-page-blog-php .medium-thumb .entry-content p {
	text-align:justify;
}
.page-template-blog-page-php #content .hentry .atom_button,
.archive #content .hentry .atom_button,
#cart-widget-links .gocheckout,
#cart-widget-links .emptycart{
    padding-top: 3px!important;
    padding-bottom: 4px!important;
    float:right!important;
    margin-top:10px!important;
}
.wpsc_buy_button_container .wpsc_buy_button {
	margin-right: 20px;
}
#content .page-navi{
    width:100%;
    clear:both;
}
#content .page-navi a, #content .page-navi span{
    text-decoration:none;
    background:#777;
    padding:8px 12px;
    margin-right:5px;
    color:#fff;
    font-size: 12px;
}
#content .page-navi .current{
    background:#eee;
    color:#333;
    border:1px solid #ccc;
}
#content .page-navi .textpage{
    background:none;
    color:#333;
}
#content .page-navi a:hover{
    background:#999;
}
.form-allowed-tags {
    display: none;
}
/* SHORTCODE > Contact Form ===========================================================================================================*/
.contact_page #content {
	width:620px!important;
	margin-left: 0px!important;
}
.atom_contactform input[type='text']{
    width:60%;
    padding:6px;          
    border: 1px inset;   
}
.atom_contactform p{
    margin:10px 0;
}
.atom_contactform textarea{
    width:95%;
    height:250px;
    padding:6px;          
    border: 1px inset;
}
.atom_contactform label{
    margin-left:10px;  
    display: inline!important; 
    font-size: 16px; 
}
.atom_contactform .required{
    color:#C00;
    font-weight:bold;
}

/* MAIN =====================================================================================================================*/
#content ol{
    list-style:decimal outside;
    margin-left: 2.35em;
}
#content a{
    position:relative;
}
#content h1, 
#content h2, 
#content h3, 
#content h4, 
#content h5, 
#content h5{
    line-height:1;
}

/* MAIN for Single Page ==============================================================================================*/
.single #content .entry{
    margin-bottom: 10px !important;
} 
#author-info{
    margin-top:30px;
    margin-bottom:10px;
    padding:10px !important;
}
#author-info .title{
    color:#777; 
    border:0;
    padding:0 !important; 
    margin-bottom:13px;
}
#author_desc{
    margin:0;
}
.single p#author_name{
    font-weight: bold;
    font-size: 13px;
    margin-bottom:0;
    padding-bottom:0;
}

/* WP E-COMMERCE (PRODUCTS PAGE) ==============================================================================================*/
#default_products_page_container {	
	margin-top: 20px;
}
.default_product_display h2.prodtitle,
#content .default_product_display h2.prodtitle,
#content .default_product_display h2.prodtitle a {
	color: #444444;
    font-size: 18px;
    text-decoration: none;
    text-transform: capitalize;
	height: 37px;
	text-align: center;
}
div.default_product_display .imagecol img.no-image,
div.default_product_display .imagecol img.product_image,
#content div.default_product_display .imagecol img.no-image,
#content div.default_product_display .imagecol img.product_image{
	width:134px!important;
	height: 18.4% !important;
}
.default_product_display .imagecol {
	overflow: hidden!important;
	margin-bottom: 15px;
	box-shadow:0 2px 2px #D0D0D0;
	-moz-box-shadow:0 2px 2px #D0D0D0;
	-webkit-box-shadow:0 2px 2px #D0D0D0;
}
.default_product_display h2.prodtitle, #content .default_product_display h2.prodtitle a:hover {
	text-decoration: underline;
}
#content .default_product_display .wpsc_description{
	display:none;
}
.default_product_display .wpsc_description,
#content .default_product_display .wpsc_description p,
#content .default_product_display .additional_description p,
.single_product_display .product_description p,
.single_product_display .single_additional_description p {
	font-style: italic;
	font-size:13px!important;
}
#content .default_product_display .wpsc_description p ,
.single_product_display .product_description,
.single_product_display .product_description p{
	margin-bottom:0px!important;
}
#content .default_product_display .additional_description p {
	margin-top:5px!important;
}
.additional_description_button {
	display:none;
}
.additional_description_link {
	color: #333333!important;
}
.default_product_display .additional_description_container{
	margin-top:0px!important;
	display: none;	
}
.default_product_display .wpsc_product_price {
	margin-left: -135px;
}
.product_form > fieldset {
	display: none;
}
.wpsc_product_price p{
	font-size: 13px;
}
.wpsc_product_price .currentprice,
.wpsc_product_price .pp_price {
	font-weight: bold;
	color: #217AB1;
}
.wpsc_default_product_list,
.single_product_display {
	margin-top: 10px;
}
.single_product_display .productcol{
	margin-left: 168px;
}
.default_product_display {
	width:135px;
	float:left;
}
.default_product_display .productcol {
	clear:both;
	margin-left: 135px!important;
}
.single_product_display form.product_form fieldset legend, 
#content .single_product_display form.product_form fieldset legend,
.default_product_display form.product_form fieldset legend, 
#content .default_product_display form.product_form fieldset legend {
	font-size: 14px;
	margin-bottom: 5px;
	border-bottom: none!important;
	line-height:15px;
}
.single_product_display form.product_form input,
#content .single_product_display form.product_form input,
.default_product_display .wpsc_quantity_update input, 
#content .default_product_display .wpsc_quantity_update input {
	font-size:12px;
	margin-bottom:10px;
	padding:2px 4px!important;
}
.wpsc_quantity_update input {
	width: 12%;
}
.single_product_display .wpsc_product_price p,
#content .single_product_display .wpsc_product_price p,
.default_product_display .wpsc_product_price p,
#content .default_product_display .wpsc_product_price p{
	padding-bottom: 0px;
}
.default_product_display .wpsc_product_price p:last-child,
#content .default_product_display .wpsc_product_price p:last-child{
	display:none;
}
#sidebar li.widget_wpsc_latest_products ul li a.wpsc-product-title {
    background: url(images/bullet.png) no-repeat 0px 14px!important;
	margin-top:-10px;
}
#sidebar li.widget_wpsc_latest_products ul li a {
	background: none!important;
}
#sidebar .widget_wpsc_product_specials h4 a.wpsc_product_title{    
	padding-left:0px!important;
}
#sidebar .widget_wpsc_product_specials a,
#sidebar .widget_wpsc_product_specials .pricedisplay,        
#sidebar .widget_wpsc_product_specials .wpsc-special-description p{        
	padding-left:18px;
}
#sidebar .widget_wpsc_product_specials .pricedisplay{    
	padding-top:10px;
}
#shoppingcart {
	background:#FFFFC6;
}
#shoppingcart h3,
#shoppingcart .empty{
	padding:5px;
}
#shoppingcart h3{
	text-align:center;
	font-size: 18px;
}
.shopping-cart-wrapper .shoppingcart table,
.shopping-cart-wrapper .shoppingcart table th,
.shopping-cart-wrapper .shoppingcart table tbody td,
.shopping-cart-wrapper .shoppingcart table tfoot td {
	border: 1px solid #000;
}
#cart-widget-links .gocheckout,
#cart-widget-links .emptycart {
	border-color: #c5c5c5;
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);	
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);	
	background-color: #f5f5f5;
	*background-color: #e6e6e6;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #bbbbbb;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	 -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
		  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	margin:10px 5px;
}
#cart-widget-links .gocheckout:hover,
#cart-widget-links .emptycart:hover {
  color: #333333;
  text-decoration: none;
  background:#E6E6E6;
}
#cart-widget-links .gocheckout:active,
#cart-widget-links .emptycart:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}