li, dd{margin-bottom:0;}
#wpcontent{margin-left:18%;}
#wpbody-content {
	margin-top:28px;
	margin-bottom:20px;
}

.atom_button {
	cursor: pointer;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	display:inline-block;
	padding: 0.5em 1.3em;
	color: #fff;
	font-size: 16px;
	position:relative;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	text-decoration:none;	
	border: 1px solid #999;
	border: rgba(0, 0, 0, .2) 1px inset;
	border-top: rgba(255, 255, 255, .5) 1px solid;
	border-bottom: rgba(0, 0, 0, .3) 1px inset;
	box-shadow: 0px -1px 1px rgba(0,0,0,.7);
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .1) 0%,
		rgba(0, 0, 0, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(0, 0, 0, .1)),
		to(rgba(255, 255, 255, .1))
	);/* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */
	-moz-user-select: none;
	background-color:#999;
}
.atom_button:hover{background-image:none;}
.atom_button:active{top:1px;}

#side-menu{
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;	
	background:url(images/side-menu.png) repeat-y;
	width:215px;
	border:1px solid #727272;
	float:left;
	margin-top: 23px;
	border-right: 0;
}
#side-menu a{
	display:block;
	text-decoration:none;
}
#side-menu > ul > li > a{
	border-top:1px solid #34484e;
	font-size:15px;	
	text-shadow:1px 1px 0px #000;
	padding:13px 10px 11px 40px;	
}
#side-menu a:hover{color:#b9e3f3;}
#side-menu > ul > li{border-top:1px solid #151d20; position:relative;}
#side-menu > ul > li.current > a{color:#b9e3f3;}
#side-menu .icon{position:absolute; top:10px; left:10px;}
#side-menu li:hover{background-position:left;}
#side-menu li:hover .icon, #side-menu li.current .icon{background-position:left;}

#logo_img {text-align:center; margin:20px 0;}

#side-menu .general_settings .icon{background:url(images/side-gen.png) no-repeat right; width:25px; height:25px;}
#side-menu .navigation .icon{background:url(images/side-nav.png) no-repeat right; width:22px; height:22px;}
#side-menu .layout_settings .icon{background:url(images/side-lay.png) no-repeat right; width:22px; height:22px;}
#side-menu .ad_management .icon{background:url(images/side-ads.png) no-repeat right; width:16px; height:22px;}
#side-menu .typography .icon{background:url(images/side-col.png) no-repeat right; width:20px; height:22px;}
#side-menu .seo .icon{background:url(images/side-seo.png) no-repeat right; width:20px; height:22px;}
#side-menu .integration .icon{background:url(images/side-int.png) no-repeat right; width:17px; height:22px;}
#side-menu .documentation .icon{background:url(images/side-doc.png) no-repeat right; width:21px; height:22px;}

.sub-menu-div{background:#f3fcff;font-weight:bold; padding:0 20px; display:none; }

#side-menu .sub-menu-div a{color:#1b495b;font-size:12px; padding:7px 0; font-weight:normal;}
#side-menu .sub-menu-div a:hover{color:#000;}
#side-menu .sub-menu-div li.current a{font-weight:bold; color:#000;}

#side-menu .current .sub-menu-div{display:block;}

.current-indi{
	background:url(images/side-active.png) no-repeat;
	position:absolute;
	width:13px;
	height:42px;
	top:0;
	right:-12px;
}

#settings{
	background:#eef8fc;
	border:1px solid #9d9d9d;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:20px 10px 20px 20px;
	width:735px;
	float:left;
	min-height: 499px;
	position:relative;
	-moz-box-shadow:    inset 0 -5px 30px #aaa;
   -webkit-box-shadow: inset 0 -5px 30px #aaa;
   box-shadow:         inset 0 -5px 30px #aaa;
}
.option-content input[type='checkbox']{ display:none;}
.option-content input[type='text']{padding:10px; width: 99%; display:block;}
.option-content .btn_image_upload{background-color:#fff; font-size:12px; color:#727272; margin-top:7px; }
.option{
	background:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:1px solid #c0c0c0;
	width:344px;
	display:inline-block;
	padding-bottom: 10px;
	margin:10px;
	vertical-align: top;
}
.option-group{display:none;}
.option-header{
	background:#c9d8df;
	padding:10px;
	font-size:15px;
	border-bottom:1px solid #a0a0a0;
	position:relative;
}
.option-header .quest{
	position: absolute;
	right: 4px;
	top: 4px;
}
.option-header .desc{
	font-size:11px;
	color:#a2b0b6;
	text-align:right;
	background:rgba(21,37,44,.95);
	padding:3px;
	border:1px solid #000;
	position:absolute;
	right: -4px;
	bottom: 40px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display:none;
}
.option-content{
	padding:10px;
}
.btn_on_off{
	color: #CCC;
	padding-top:12px;
	padding-bottom:12px;	
	font-size:15px;
}
.btn_on_off:hover{
	color:#fff;
}
.btn_on_off.active{
	color:#B9E3F3;
	background-color:#227399;
}


#frm_save{
	background-color:#6884b6;	
}
.controller{position:absolute; bottom:-15px; right:20px; }
.controller a{
	font-size:18px;
	font-weight:bold;
	text-shadow:-1px -1px 1px #333;
	padding: 12px 18px;
	margin-left:20px;
}
.controller .shadow{
	background:url(images/button_shadow.png) no-repeat;
	width:20px;
	height:19px;
	position:absolute;
	right: -14px;
	bottom: 0px;
	z-index: -1;
}
.controller a:hover{color:#fff;}

#result div{
	position:fixed;
	z-index:99;
	left:50%;
	top:30%;
	background:#eee;
	-moz-box-shadow:    0px 0px 500px 900px rgba(0,0,0,0.8);
	-webkit-box-shadow: 0px 0px 500px 900px rgba(0,0,0,0.8);
	box-shadow:         0px 0px 500px 900px rgba(0,0,0,0.8);	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding:20px;
	font-weight:bold;
	width:200px;
	text-align:center;
	font-size:18px;
	border:1px inset #fff;
	line-height:1.6;
}

.color-picker input{
	font-weight:bold;
	text-shadow:1px 1px 1px #999;
}

.fabox{z-index: 9;}