/*
Theme Name: Mangyan
Theme URI: http://themetribe.com/
Author: Themetribe Team
Author URI: http://themetribe.com/
Description: The base theme of themetribe's destributed premium themes.
Version: 1

Tags: 
Text Domain: Themetribe
*/

@import url(http://fonts.googleapis.com/css?family=Share:400,400italic,700,700italic);

h3, h1, h2
{
  font-family: 'Share', cursive;
}
body{ 
  background:url(images/bg.png); 
  font-family: 'Share',cursive;
}

/* Reset CSS */
.topheader {
  background: none repeat scroll 0 0 #000000;
  box-shadow: 0 1px 1px #333333;
  text-transform: uppercase;
}

.navbar-inner { 
  border-radius: 0px; 
  border:0px; 
  background: none !important;
  box-shadow: 0 1px 1px #333333;
  text-transform: uppercase;
}

.container { 
  margin: 0 auto; 
  max-width: 960px;

}
.navbar{ margin-bottom: 0px; }
.top-header{
	 background-color: #000;
  background-image: -moz-linear-gradient(top, #222222, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
  background-image: -webkit-linear-gradient(top, #222222, #111111);
  background-image: -o-linear-gradient(top, #222222, #111111);
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
  border-color: #252525;
  border:0px !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);


}

#site-title a {
    color: #9B2E2E;
    text-decoration: none;
    text-transform: uppercase;
}

.sf-menu {margin-bottom:0 !important;}
.sf-menu li{background:none;}

#menu-top a {
    color: #777777;
}

#menu-top{
  background: #000;
  box-shadow: 0 1px 1px #333;
  text-transform: uppercase;
}

#menu-top .sf-menu{float: right;}
#menu-top a {
  border: none;
  background: url(images/top-sep.png) -2px 0px no-repeat;
  padding: 12px 13px 13px;
}
#menu-top li{
  background-color:transparent;
}
#menu-top a:hover, #access1 .current_page_item a{color:#fff;background-position:0px;}

/* ....................................................................... [ Typography */
h1 { font-size: 40px; }
h2 { font-size: 35px; }
h3 { font-size: 25px; }
h4 { font-size: 22px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }

a{
  color: #636363;
}

h1, h2, h3, h4, h5, h6,
#blurbs .title a{font-family: 'Share', cursive;}


h1, h2, h3, h4, h5, h6 {
  padding-bottom: 5px;
  margin:10px 0 10px;
}
ul li{
  list-style:inside;
  margin-left:10px;
}
em {font-style:italic;}
strong {font-weight: bold;}

/* ....................................................................... [ Option Previewer */
#access2 ul {background: url(images/second-menu-sep.gif) right no-repeat; padding-right:1px;}
#access2 li {background: url(images/second-menu-sep.gif) #eee left no-repeat; padding-left:1px;}
#access2 li li {background:transparent;}
#access2 a {
  width: 140px;
  padding: 18px 20px 11px;
  height: 50px; 
  border: none;
}
#access2 strong {
  font-size: 18px;
  font-weight: bold;
  color: #393939;
  text-transform: uppercase;
}
#access2 span {
  display: block;
  font-size: 11px;
  color: #424242;
  margin-top: 5px;
  line-height: 14px;
}
#access2 a:hover, #access2 li.sfHover a{background:rgba(0,0,0,0.8);}
#access2 li:hover, #access2 li.sfHover{background-color:transparent;}
#access2 a:hover strong, #access2 li.sfHover strong{color:#8294ff;}
#access2 a:hover span, #access2 li.sfHover span{color:#f7f7f7;}

/*SECOND HEIRARCHY*/
#access2 ul ul{
  background:rgba(90,90,91,0.9);
  top:85px;
  width: 190px !important;
}
#access2 li.sfHover li a{
  background:url(images/dot-hor.png) repeat-x top;
  font-size:13px; 
  color:#c1c1c1; 
  line-height:40px; 
  height: auto; 
  padding: 0 20px;
}
#access2 li li a:hover{color:#fff;background-color:rgba(0,0,0,0.5);}


.linecontainer 
{
  border-bottom: 6px solid #393939; margin-top: 21px;
}

#footer{
  background: none repeat scroll 0 0 #222222;
    border-top: 1px solid #888888;
    box-shadow: 0 -1px 0 #393939; 
    color: #AAAAAA;
    margin-top: 10px;
    padding-bottom: 40px;
    padding-top: 20px;
}

#featured
{
    z-index: 6;
    border:1px solid #e1e1e1;
  
    -webkit-box-shadow: 0px 8px 11px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 8px 11px rgba(50, 50, 50, 0.75);
box-shadow:         0px 8px 11px rgba(50, 50, 50, 0.75);

}


.maincontent{
  margin-bottom: 37px;
}

.maincontent img 
{
  padding-right:19px;
  padding-bottom: 10px; 
  float:left;
}

.maincontent .title a {
    color: #000000;
    font-size: 26px;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
  }

  .maincontent .span10
  {
    text-align: justify;;
  }
#sidebar, span5
{
  padding:0px;
  margin:0px;
  color: #636363;
}

#sidebar li
{
  margin: 0px;
  padding:0px;
  list-style: none;
}


input[type='text'],textarea{
  padding:5px 10px 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 2px solid #CCC;
}

#latest-posts, #latest-posts .entry-title{font-size:12px;}
#latest-posts .entry{margin-top:5px;}
#latest-posts .title{font-size:24px; margin-bottom: 0; padding-bottom: 0;}
#latest-posts .entry-thumb{padding:2px;border:1px solid #c9c8c9;background:#fff;float:left; margin-right:5px; margin-bottom:5px;}
#latest-posts .entry-title{font-weight:bold; margin:0; padding:0;}
#latest-posts .entry-excerpt{margin-top: -3px; font-size:12px;margin-bottom: 0;}
#latest-posts a:hover .entry-title, #latest-posts a:hover .entry-thumb{color:#002096;border-color:#002096;}

.hentry, #access2 span, #access2 li.sfHover li a, #breadcrumb, #post-navi, .blurb, #comments, #sidebar, .wp-pagenavi .page-numbers, .wp-pagenavi .current, #site-generator, #latest-posts .entry-title {
    font-family: Arial,Helvetica,sans-serif;
}
#latest-posts .title {
    font-size: 24px;
    margin-bottom: 0;
    padding-bottom: 0;
}


p, #content .entry div {
  line-height:1.6;
}

#latest-posts .entry-excerpt {
  font-size:12px;
}
style.css
.entry-excerpt {
  font-size:14px;
  line-height:1.6;
}

.wp-pagenavi .page-numbers, .wp-pagenavi .current, #site-generator, #latest-posts .entry-title{
  font-family:Arial, Helvetica, sans-serif;
}
    

.entry-excerpt, .hentry, #access2 span, #access2 li.sfHover li a, #breadcrumb, #post-navi, .blurb, #comments, #sidebar, .wp-pagenavi .page-numbers, .wp-pagenavi .current, #site-generator, #latest-posts .entry-title {
  font-family:Arial, Helvetica, sans-serif;
}

    latest-posts .entry-excerpt {
  font-size:12px;
}
style.css
.entry-excerpt {
  font-size:14px;
  line-height:1.6;
}

h1, h2, h3 {
  line-height:30px;
}

#access2 ul li a{
  color:#393939;
  font-size:18px;
  font-weight:bold;
  text-transform:uppercase;
}
#access2 ul li a:hover{
  color:#e1e1e1;
  font-size:18px;
  font-weight:bold;
  text-transform:uppercase;
}

strong {
  font-weight:bold;
}


#site-description {
  color:#333333;
  font-size:13px;
  margin-top:4px;
  text-transform:uppercase;
}
h2 {
  font-size:35px;
}