
	/* layout */
	#container {
		position: relative;
		width: 80%;
	}

	/* rs carousel */
	#rs-carousel {
		position: relative;
	}
	#rs-carousel .rs-carousel-mask {
		box-shadow: 0px 0px 10px;
	}

		#rs-carousel ul li {
			color: #fff;
			width: 960px;
			height: 420px;
			cursor: pointer;
			background: #e6e6e6;
			margin: 0;
			position: relative;
			text-shadow: 1px 1px 8px #999;
		}
		
		#rs-carousel ul li > *{
			display:block;
		}
		.rs-carousel-runner{
			list-style: none !important;
		}

	#rs-carousel .rs-carousel-action {
		color: gray;
		cursor: default;
	}

	#rs-carousel .rs-carousel-action-active {
		color: #1788D7;
		cursor: pointer;
	}

	#rs-carousel .rs-carousel-pagination-link {
		display: inline-block;
		margin: 0;
	}
	.rs-carousel-pagination{
		text-align: center;
	}

		#rs-carousel .rs-carousel-pagination-link a {
			height: 15px;
			width: 15px;
			background: url('../images/bullet.png');
			font-size: 0px;
			display: inline-block;
		}

			#rs-carousel .rs-carousel-pagination-link a:hover {
				text-decoration: none;
			}

		#rs-carousel .rs-carousel-pagination-link-active a {
			background: url('../images/bullet.png');
			background-position: 0px -30px;
			color: #fff;
		}

	#rs-carousel .rs-carousel-pagination-disabled .rs-carousel-pagination-link a,
	#rs-carousel .rs-carousel-action-disabled.rs-carousel-action {
		color: gray;
		cursor: default;
	}

	/** horizontal **/
	#rs-carousel.rs-carousel-horizontal.rs-carousel-items-1 .rs-carousel-mask {
		width: 150px;
	}
	
	#rs-carousel.rs-carousel-horizontal.rs-carousel-items-2 .rs-carousel-mask {
		width: 300px;
	}
	
	#rs-carousel.rs-carousel-horizontal.rs-carousel-items-3 .rs-carousel-mask {
		width: 450px;
	}
	
	#rs-carousel.rs-carousel-horizontal.rs-carousel-items-4 .rs-carousel-mask {
		width: 600px;
	}
	
	/** vertical **/
	#rs-carousel.rs-carousel-vertical .rs-carousel-mask {
		width: 150px;
		height: 500px;
	}

	#rs-carousel.rs-carousel-vertical.rs-carousel-items-1 .rs-carousel-mask {
		height: 150px;
	}
	
	#rs-carousel.rs-carousel-vertical.rs-carousel-items-2 .rs-carousel-mask {
		height: 300px;
	}
	
	#rs-carousel.rs-carousel-vertical.rs-carousel-items-3 .rs-carousel-mask {
		height: 450px;
	}
	
	#rs-carousel.rs-carousel-vertical.rs-carousel-items-4 .rs-carousel-mask {
		height: 600px;
	}
	
#rs-carousel:hover .rs-carousel-action-prev,
#rs-carousel:hover .rs-carousel-action-next{
	display: block;
}

#rs-carousel .rs-carousel-action-prev:hover{
	background-position: 0px 0px;
	opacity: 1
}

#rs-carousel .rs-carousel-action-prev{
	position: absolute;
	background: url('../images/slider-arrows.png') no-repeat;
	background-position: 0px -48px;
	top: 190px;
	font-size: 0px;
	color: #000;
	left: 20px;
	height: 48px;
	width: 48px;
	display: none;
	opacity: 0.5;
}
#rs-carousel .rs-carousel-action-next:hover{
	background-position: -48px 0px;
	opacity: 1;
}
#rs-carousel .rs-carousel-action-next{
	position: absolute;
	background: url('../images/slider-arrows.png') no-repeat;
	background-position: -48px -48px;
	top: 190px;
	font-size: 0px;
	color: #000;
	right: 20px;
	height: 48px;
	width: 48px;
	display: none;
	opacity: 0.5;
}

#rs-carousel img{
	border: none;
	box-shadow: none;
}