/* ADMIN > SHORTCODE TB =========================================*/
#tf_shortcodes .tf_list span{
	font-size:11px;
	font-style:italic;
	margin-left:50px;
	font-weight:normal;
}
#tf_shortcodes textarea, 
#tf_shortcodes input[type="text"],
#tf_shortcodes input[type="password"],
#tf_shortcodes input[type="file"], 
#tf_shortcodes input[type="email"], 
#tf_shortcodes input[type="number"], 
#tf_shortcodes input[type="search"], 
#tf_shortcodes input[type="tel"], 
#tf_shortcodes input[type="url"], 
#tf_shortcodes select {
	width:60%;
	margin-left:30px;	
}
#tf_shortcodes .tf_list{
	font-weight:bold;
	font-size:13px;
	margin-bottom:5px;
}
#tf_shortcodes{line-height: 1.6;}

fieldset
{
    border: 1px solid #000000;
    padding: 10px;
}

.clear
{
    clear: both;
}

.float-div
{
    float: left;
    margin-left: 15px;
}

.options-group-header
{
   	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    color: #666666;
    cursor: pointer;
    font-family: 'Georgia',serif;
    font-size: 19px;
    height: 24px;
    line-height: 24px;
    margin-top: 10px;
    position: relative;
    vertical-align: middle;
	width:90%;
	text-indent: 15px;
	padding:10px 0;
}
.button-submit
{
    margin-top: 15px;
}
.form-container
{
    width: 95%;
    overflow: visible;
}
.options-group
{
    background: none repeat scroll 0 0 #F0F0F0;
    margin-bottom: 30px;
    margin-top: 5px;
	border-bottom:1px solid #ccc;
	width:90%;
}
.options-field{
	padding:20px;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
.options-element input[type=text]
{
    width: 300px;
	padding:8px;
}

.options-field .field-label
{    
    font-weight: bold;
    font-size: 15px;
	margin-bottom: 10px;
}
.field-desc{
	margin-top: 10px;
	font-size: 11px;
	font-style: italic;
	margin-left: 37px;
	color: #777;
}
.file-desc
{
    float: left;
    font-size: 11px;
    margin-top: 5px;
}

.float-element
{
    float: left;
}