/*
Theme Name: Ybanog
Theme URI: http://themetribe.com/
Author: Themetribe Team
Author URI: http://themetribe.com/
Description: The base theme of themetribe's destributed premium themes.
Version: 1

Tags: 
Text Domain: Themetribe
*/

@font-face {
    font-family: 'trebu';
    src: url('fonts/trebuc.eot');
    src: url('fonts/trebuc.eot?#iefix') format('embedded-opentype'),
         url('fonts/trebuc.woff') format('woff'),
         url('fonts/trebuc.ttf') format('truetype'),
         url('fonts/trebuc.svg#LegerDRegular') format('svg');
    font-weight: bold;
    font-style: normal;
}
/*Hide edmin bar*/
#wpadminbar {display:none;}
/* this is a comment*/
body{background-color:#eeeeee;}
.centered{text-align: center;}

.product-header .prod-title{float:left;margin-top: 20px;font-size: 18px;}
.product-header .arrows{float:right}

.item-list{margin-bottom:20px;}
.card{ -webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;border:10px solid #fff;-webkit-boxshadow: 0 1px 2px 0px rgba(0,0,0,0.75);-moz-box-shadow: 0 1px 2px 0px rgba(0,0,0,0.75);box-shadow: 0 1px 2px 0px rgba(0,0,0,0.75);height: 355px;background-color: #fff;}
.card .face, .card .desc{margin:5px;position:relative}
.card .banner-sale img{width:auto;height: auto;position:absolute;right: 0;}
.card .face .attachment-post-thumbnail{width:100%;height: auto;}
.card .desc > p {text-transform:capitalize;}
.price del{color:#FFC781;font-size:13px;}
.price ins{text-decoration:none;}
.price ins span, .price .amount{color:#FFA56D;}

/*modal*/
.modal-title{color: #FF7800;text-transform: capitalize;text-shadow: 1px 1px #000;text-align: center;}
.card-modal .banner-sale img{width:auto;height: auto;position:absolute;right: 0;}
.card-modal{position:relative;margin:0}

.card-modal .face, .card-modal .desc{float:left;position:relative;margin-right:20px;}
.card-modal .face {width:200px;}
.card-modal .face .attachment-post-thumbnail{width:100%;max-width:none;}
.card-modal .desc >div input[type='text']{width:50px;margin: 0;}
.card-modal .desc > div{width:300px}
.card-modal .price del,.card-modal .price ins{color:#FF7C09;font-weight: bold;font-size: 20px;}
/*.card-modal .desc .btn-primary{background-color:#232323;}*/
/*============= nav menu style ==================*/

#access {
	margin-top: 40px;
}
.sf-menu {
	text-align:center;
	float:none!important;
}

ul.sf-menu,
div.sf-menu ul {
	display:block;
}
ul.sf-menu li,
div.sf-menu ul li {
	background:none;
	float:none!important;
	display: inline-block;
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active ,
ul.sf-menu li > ul.sub-menu > li > ul.sub-menu > li{
	background:		transparent;
	outline:		0;
}
div.sf-menu ul > li:hover > a,
ul.sf-menu > li:hover > a{
	background: url('images/nav-hov.png')repeat-x!important;
	box-shadow:0px 3px 2px #6d6d6d;
	/*border-top:solid 5px #f7941d;text-decoration: none;*/
}
div.sf-menu ul  li > a,
ul.sf-menu  li > a{
	border:none;
	border-top:solid 3px #eeeeee;
	font-family:'trebu', Arial;
	color:#333333;
	text-transform: uppercase;
}
div.sf-menu ul li a:visited, 
ul.sf-menu li a:visited{
	color:black;
}
.sf-menu a:hover{
	text-decoration: none;
}
div.sf-menu > ul > li > ul.children,
ul.sf-menu > li > ul.sub-menu {
	background: url('images/nav-hov-child.png')repeat;	
	box-shadow:0px 3px 2px #6d6d6d;
	padding: 10px;
    text-align: left;
    width: 450px;
}
div.sf-menu ul li ul.children > li,	
ul.sf-menu li ul.sub-menu > li {	
	display: inline-block;
    float: left!important;
    text-align: left!important;
    width: 150px!important;
}
}
div.sf-menu > ul > li > ul.children > li > ul.children, /* for regular menu child */
ul.sf-menu > li > ul.sub-menu > li > ul.sub-menu {/* for custom menu child child */ 	
    width: 150px!important;
	background: url('images/nav-hov-child.png')repeat;	
	box-shadow:0px 3px 2px #6d6d6d;
    text-align: left;
}
div.sf-menu > ul > li > ul.children > li > ul.children > li, /* for regular menu child */
ul.sf-menu > li > ul.sub-menu > li > ul.sub-menu > li {/* for custom menu child child */ 	
    width: 150px!important;
    text-align: left;
	margin-left: 10px;
	padding:2px 0
}
.sf-menu li:hover ul li ul,/* for regular menu child */
.sf-menu li.sfHover ul li ul {
	left:			-0.7em!important;
	top:			2em!important; 
	z-index:		99;
}
ul.sf-menu li:hover ul, /* for custom menu child */
ul.sf-menu li.sfHover ul {
	left:			0!important;
	top:			2.5em!important; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover ul li ul, /* for custom menu child child */
ul.sf-menu li.sfHover ul li ul{
	left:			-0.7em!important;
	top:			2em!important; 
	z-index:		99;
}
div.sf-menu ul > li > ul.children > li:hover > a,
ul.sf-menu li > ul.sub-menu > li:hover > a{
	background:#dadbdb!important;
	box-shadow:none!important;
	border-radius: 5px;
}
div.sf-menu ul li ul.children li a,	
ul.sf-menu li ul.sub-menu li a {	
	font-family:'trebu', Arial;
	text-transform: capitalize;
	font-weight: normal;	
	color:#333333;
	padding: 3px 10px;
	border:opx!important;
	width: 110px;
}
/*====================== search and cart ==========================*/
.search-div{
	position: absolute;
	right: 0;
	top: 20px;
	overflow:hidden;
}
#branding{position:relative;}

.search-div .search-box input{
	background:none;
	color: #fff;
	border: none;
	box-shadow:none;
	display:;
	height: 23px;
    margin: 2px 5px 5px -20px;
	padding: 4px 0px 4px 10px;
	position: relative;
	left: 0px;
	width: 5px;
	/*background:#ff9c00 url('images/search-icon.png')no-repeat left center;	
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;*/
}
.search-div .search-box > img,
.search-div .cart-icon > img {
	margin-left:3px;
	position: relative;	
	z-index:500;
	float: left;
}
.search-div .search-box{
	cursor:pointer;
	position:relative;
	float: right;
	overflow: hidden;
	height:40px;
}
.search-div .cart-icon{
	cursor:pointer;
	position:relative;
	float: right;
	height: 40px;
	overflow: hidden;
}
.search-div .cart-icon span{
	background:transparent;
    height: 23px;
    margin: 1px 5px 5px -20px;
    padding: 6px 0 2px 10px;
    width: 1px;
	color: transparent;
	-webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
	overflow:hidden;
	float: right;
}

#site-description{font-family: Georgia;font-size: 16px;}

/*========================== footer =========================*/

#footer{background:black;}
.footer-title,
.footer-widget .widget-title{
	text-transform: uppercase;
	color:#fff;
	font-size: 14px;
	font-family: 'trebu', Arial;
	border-bottom: 1px solid #38383A;
	text-transform: uppercase;
}
.footer-widget .widget-area ul {
	list-style-type: none;
}
ul.tf_contact_info {
	margin-left:0px!important;
}
.footer-widget .widget-area .textwidget,
.tf_contact_info li {
	font-family: Arial;
	font-size: 13px;
	color: #fff;
	text-align: justify;
}
.tf_contact_info li {
	margin: 4px 0;
}
.footer-bottom{background-color: #333333;color:#fff;}

.product-header{margin-bottom: 20px;}
.arrow{width:39px;height: 39px;float:left;}

.left-arrow{background: url(images/left-arrow.png) center center;}
.left-arrow:hover{background: url(images/left-arrow-active.png) center center;}

.right-arrow{background: url(images/right-arrow.png) center center;}
.right-arrow:hover{background: url(images/right-arrow-active.png) center center;}

.bottom-p{text-transform: uppercase;font-size:16px;font-weight: bold;}

/*#modal{display:none;position:fixed;width:100%;height:100%;background:#999;left:0;top:0;}*/
#modal > div{position:relative;}
.modal_a:hover{text-decoration:none;}
.modal_a{text-decoration:none;}

.slideshow { margin: auto }
.slideshow img { width: 100px; height: 100px; padding: 2px; }
div.responsive img { width: auto; height: auto }
.cycle-pager { position: static; margin-top: 5px }
div.vertical { width: 100px }
