/*
Theme Name: Delight
Theme URI: http://www.themetribe.com
Version: 1
Description: A theme with the most powerfull shortcodes ever.
Author: Themetribe
Author URI: http://www.themetribe.com
Tags: two-columns, fixed-width, threaded-comments, sticky-post, microformats, white, custom-menu, featured-images, full-width-template, post-formats, theme-options, photoblogging

*/
@import url('css/reset.css');
@import url('css/superfish.css');
/* DO NOT REMOVE THIS */
.wp-caption-text, .sticky, .gallery-caption, .bypostauthor{}
@import url(http://fonts.googleapis.com/css?family=Quicksand|Poiret+One);*/

/* GENERAL =========================================*/
body{
	line-height:20px;
}
.wrapper{
	width:960px;
	margin:auto;
}
.alignright{
	float:right;
	margin-left:16px;
	margin-bottom:16px;
}
.alignleft{
	float:left;
	margin-right:16px;
	margin-bottom:16px;
}
#breadcrumbs {
	font-style: italic;
	border: 1px solid #DDD;
	padding: 5px 7px;
	margin-top: -20px;
	margin-bottom: 10px;
	background: #EFEFEF;
}
#breadcrumbs a{
	color:#06F;
}

/* TYPOGRAPHY =========================================*/
h1 { font-size: 40px; }
h2 { font-size: 35px; }
h3 { font-size: 25px; }
h4 { font-size: 22px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }
h1, h2, h3, h4, h5, h6 {
	padding-bottom: 5px;
	font-family:Quicksand, Arial;
	margin:10px 0 10px;
}
ul li{
	list-style:inside;
	margin-left:10px;
}
em {
	font-style:italic;
}
strong {
	font-weight: bold;
}

/* HEADER =========================================*/
#header{
	margin-top: 15px;
	height: 90px;
}
#header .wrapper{
	position:relative;
}
#site-title, #site-title a{
	font-size:46px;
	font-family: 'Quicksand', sans-serif;
	text-decoration:none;
	color:#222;
}
#site-description{
	font-size:13px;
	font-family:Verdana, Geneva, sans-serif;
	margin-bottom: 5px;
}
#branding{
	float:left;
}

/* HEADER > Menu =========================================*/
#access{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	position:absolute;
	bottom:0px;
	right:0px;
}
#access li{
	background:none;
}
#access li a{
	border:none;
	color:#111;
}
.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active{
	background:#eee;
}

/* HEADER > Menu > 2nd Heirarchy =========================================*/
#access ul ul{
	box-shadow:0px 10px 10px rgba(0,0,0,0.75);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	z-index:100;
}
#access ul ul a{
	border-top:1px solid #fff;
	border-left:1px solid #747474;
	border-right:1px solid #747474;
	border-bottom:1px solid #747474;	
}
#access ul ul li:first-child a, #access ul ul li:first-child{
	border-top-color:#747474;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
#access ul ul li:last-child a, #access ul ul li:last-child{
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
#access ul ul li{
	background:rgba(255,255,255,0.9);	
}

/* FOOTER ================================================================*/
#footer{
	border-top:5px solid #eee;	
}
#footer li{
	list-style:none;
	margin-left:0;
}
#footer h3{
	margin-top:0;
}
#footer-widget{padding-top:27px; }
#footer .widget-area{
	width:220px;
	margin:0 10px;
	float:left;
	font-size:12px;
}
#generator{
	text-align:left;
	font-size:12px;
	font-style:italic;
	margin:20px auto;
}
#footer .widget-title{
	font-family: 'Poiret One', cursive, Arial;
	font-size:28px;
	margin-bottom:18px;
}
#footer .widget-area div{
	line-height:1.6;
}
#footer .widget-area ul ul li{
	background:url(images/bullet.png) no-repeat 5px 5px;
	padding-left:23px;
	padding-bottom:5px;
	margin-bottom:10px;
	border-bottom:1px solid #bcbcbc;
}
#footer .widget-area a{
	text-decoration:none;
	color:#000;
}

/* MAIN ================================================================*/
#main{
	min-height:300px;
	margin-top:40px;
	font-size:12px;
}
#content{
	margin-bottom:40px;
}
#content ol{
	list-style:decimal outside;
	margin-left: 2.35em;
}
#content a{position:relative;}
#content h1, #content h2, #content h3, #content h4, #content h5, #content h5{
	line-height:1;
}

/* MAIN for Single Page =========================================*/
.single #content, .category #content, .archive #content, .page-template-default #content{
	width:620px;
	float:left;	
}
.single #content{font-size:13px;}
.single #content p{
	margin-bottom:20px;
}
.single #content .entry{margin-bottom:10px;}
#ads_468x60{
	text-align:center;
}
#author-info{
	margin-top:30px;
	margin-bottom:10px;
}
#author_name{
	font-weight: bold;
	font-size: 13px;
}
#comments{margin-top:40px;}
#comments-title{margin-bottom:30px;}
#comments .commentlist{list-style:none; margin-left:10px;}
.comment .avatar{border: 2px solid white; box-shadow:1px 1px 3px #000; float: left; margin-right: 15px;}
#author_name, .fn a, .fn {color: #3B3B3B;text-transform: capitalize;padding-top: 0; font-weight:bold;}
.comment-content{ margin:20px; font-size:13px; color:#333;}
.reply {float: right;margin-top: -10px;}
article.comment{
	border-bottom:1px dashed #777;
	border-left:1px solid #ddd;
	padding:20px;
	background:#f9f9f9;
}
.comment ul.children {margin-left: 20px;}
.comment ul.children article.comment{background: #EEE;}
ol.commentlist li.comment{margin-bottom:20px;}
.form-allowed-tags{display:none;}
#comments input[type="text"], #comments textarea {
	padding: 7px 12px;
	color: black;
	font-size: 13px;
	border: 1px inset;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	left: 0;
}
#comments label {
	font-weight:bold;
	color: #3B3B3B;
	vertical-align: middle;
	width: 75px;
	display: inline-block;
}
#comments .comment-notes .required {position: inherit;top: 0;left: 0;}
#comments p {position: relative;}
#comments .required {
	color: red;
	font-size: 20px;
	vertical-align: bottom;
	position: absolute;
	left: -13px;
	top: 6px;
}
#comments .comment-form-comment label {vertical-align: top;}
#comments #submit {
	padding: 7px 13px;
	color: #303030;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-left: 75px;
}

/* SHORTCODE > Nivo ================================================================*/
.nivoContainer{
	margin-bottom:40px;
	position:relative;
}
.CycleContainer{
	margin-bottom:40px;
	position:relative;
}
.nivo-shadow{
	background:url(images/shadow.png) no-repeat;
	width:874px;
	height:41px;
	margin:auto;
}
.nivo-frame{
	display:none; /*show if used only*/
	border:3px solid rgba(255,255,255,0.7);
	position:absolute;
	top:0;
	left:0;
	z-index:99;
}
.nivo-controlNav{
	position:absolute;
	bottom:-60px;
	right:0;
}
.cycle-nav{
	position:absolute;
	bottom: 8px;
	right:0;
	z-index: 9;
}
.nivo-control, .cycle-nav a{
	text-indent:-9999px;
	background:#7b7b7b;
	width:67px;
	height:18px;
	display:inline-block;
	margin-right:10px;
}
.nivo-control:hover, .cycle-nav a:hover{
	background:#888;
}
.nivo-control.active, .cycle-nav a.activeSlide{
	background:#bdbdbd;
}

/* SHORTCODE > Column ================================================================*/
.one_half, .one_third, .two_third, .one_fourth, .three_fourth, .one_fifth, .four_fifth, .two_fifth, .three_fifth, .one_sixth, .five_sixth {float: left;margin-right: 4%;position: relative;margin-bottom: 15px;}
.one_half{width:48%;}
.one_third { width: 30.66%; }
.two_third { width:65.32%; }
.one_fourth { width:22%; }
.three_fourth {width: 74%;}
.one_fifth{width: 16.8%;}
.four_fifth {width: 79.2%;}
.two_fifth {width: 37.6%;}
.three_fifth {width: 58.4%;}
.one_sixth {width: 13.3333%;}
.five_sixth {width: 82.6665%;}
.last {margin-right: 0px !important;clear: right;}

/* SHORTCODE > Image ================================================================*/
#bottomNavClose img, #loadingLink img{ display:none; }
#bottomNavClose{background:url(images/closelabel.gif) no-repeat; width:66px; height:22px;}
#loadingLink{background: url(images/loading.gif) no-repeat center;width: 100%;display: block;height: 100%;}
.overlay_link{
	background:url(images/details.gif) no-repeat center;	
}
.overlay_lightbox{
	background:url(images/search.png) no-repeat center;
}
.overlay_link, .overlay_lightbox{
	width:100%;
	position:absolute;
	height:100%;
	top:0;
	left:0;
	background-color:rgba(255,255,255,0.75);
	display:none;
}
a.imglink{
	display:block;
	border:5px solid #d9d9d9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;width: 97%;
	margin:10px 0 13px;
}

/* SHORTCODE > Box ================================================================*/
.atom_box{
	border: 1px solid #BBB;
	margin-bottom: 20px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;	
	background-color: #F0F0F0;
}
.atom_box .inner{
	border: 1px solid white;
	padding: 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.atom_box .title{
	padding: 10px;
	border:1px solid #fff;
}
.atom_box.default .inner{padding:20px;}
.atom_box.error{
	border: 1px solid #FCBEC0;
	background: #FFF3F3;
}
.atom_box.error .title{
	background: #FDE9EA;
	color: #A14A40;
}
.atom_box.error .inner{	
	border-top: 1px solid #FCBEC0;
	border-left: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #684C4C;
}
.atom_box.notice{
	background: #FFF9CC;
	color: #736B4C;
	border-color: #FFDB4F;
}
.atom_box.note{background:#fdfde7;color: #333;}
.atom_box.note .title{border:none; padding-bottom:0; font-size:18px; font-family: 'Quicksand', sans-serif;}
.atom_box.note .inner{border:none;}
.atom_box.success{background: #E2F2CE;color: #466840;border-color: #BFE098;}

/* SHORTCODE > Button ================================================================*/
.atom_button {
	cursor: pointer;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	display:inline-block;
	padding: 0.5em 1.3em;
	color: #fff;
	font-size: 16px;
	position:relative;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	text-decoration:none;	
	border: 1px solid #999;
	border: rgba(0, 0, 0, .2) 1px inset;
	border-top: rgba(255, 255, 255, .5) 1px solid;
	border-bottom: rgba(0, 0, 0, .3) 1px inset;
	box-shadow: 0px -1px 1px rgba(0,0,0,.7);
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .1) 0%,
		rgba(0, 0, 0, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(0, 0, 0, .1)),
		to(rgba(255, 255, 255, .1))
	);/* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */
	-moz-user-select: none;
	background-color:#999;
}
.atom_button:hover{background-image:none;}
.atom_button:active{top:1px;}
.atom_button.small{font-size: 12px;}
.atom_button.large{font-size: 25px;}
.atom_button.black{background-color:#333;}
.atom_button.grey{background-color:#666;}
.atom_button.white{background-color:#fff;color:#444;}
.atom_button.blue{background-color:#506fd5;}
.atom_button.green{background-color:#91BD09;}
.atom_button.red{background-color:#E62727;}
.atom_button.yellow{background-color:#FFB515;}
.atom_button.orange{background-color:#FF5C00;box-shadow-color:#FF5C00;}
.atom_button.pink{background-color:#E22092;}
.atom_button.rosy{background-color:#F16C7C;}
.atom_button.magenta{background-color:#A9014B;}

/* SHORTCODE > Sidebar ================================================================*/
.sidebar{width: 300px;}
.sidebar.left{float:left; margin-right:20px;}
.sidebar.right{float:right; margin-right:10px; margin-left:20px;}
.sidebar .widget-title{
	font-family: 'Poiret One', cursive, Arial;
	font-size: 25px;
	letter-spacing:3px;
	margin-bottom: 18px;
}
.sidebar .widget-container{
	margin-bottom:30px;
}
.sidebar li{
	list-style:none;
}
.sidebar ul ul li {
	border-bottom: 1px solid #ccc;
	margin-left:10px;
}
.sidebar ul ul li:last-child{border-bottom:none;}
.sidebar a{
	text-decoration:none;
	color:#333;
	padding-bottom: 8px;
	padding-top:6px;
	display:block;
	background: url(images/bullet.png) no-repeat 0px 11px;
	padding-left: 18px;
}
.sidebar a:hover{
	opacity:0.6;
}
.sidebar .widget-container .ads_125x125{margin-left:0;}
.sidebar .widget-container .ads_125x125 li{
	background:url(images/ads_125x125.png) no-repeat;
	width:125px;
	height:125px;
	display:inline-block;
	padding: 0;
	margin:0;
	border:none;
}

/* SHORTCODE > Blog ================================================================*/
#content .title a{
	text-decoration:none;
	color:#333;
	font-size:28px;
	font-family: 'Poiret One', cursive, Arial;
}
#content .entry{
	width:100%;
	margin-bottom:40px;	
	float:left;
	position:relative;
}
#content .meta{
	margin: 10px 0px 15px;
	border-top:1px dashed #CECECE;
	padding:4px 10px 7px;
	background: #F9F9F9;
}
#content .meta a{
	text-decoration:none;
}
#content .meta a:hover{
	text-decoration:underline;
}
#content .thumb{
	float:left;
	margin-right: 20px;
	border: 2px solid white;
	box-shadow: 1px 1px 3px #777;
}
#content .thumb img{
	border: 1px inset #fff;
}
#content .blog .entry .atom_button{	
	float:right;
}
#content .entry .atom_button{
	padding-top: 3px;
	padding-bottom: 4px;
	margin-top:15px;
}
#content .page-navi{
	width:100%;
	clear:both;
}
#content .page-navi a, #content .page-navi span{
	text-decoration:none;
	background:#777;
	padding:8px 12px;
	margin-right:5px;
	color:#fff;
}
#content .page-navi .current{
	background:#eee;
	color:#333;
	border:1px solid #ccc;
}
#content .page-navi .textpage{
	background:none;
	color:#333;
}
#content .page-navi a:hover{
	background:#999;
}

/* SHORTCODE > Typography ================================================================*/
.dropcap{
	font-size: 30px;
	position: relative;
	width: 26px;
	display: inline-block;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	float: left;
	line-height: 1;
	top: 5px;
}
.dropcap.bg{
	background:#444;
	color:#FFF;
	width: 35px;
	text-align: center;
	margin-right: 10px;
	line-height: 36px;
	border:1px solid #fff;
	top:0px;
}
.dropcap.shadow{
	box-shadow: 1px 1px 1px #999;
	top:0;
}
.blockquote{
	background:url(images/quote.png) no-repeat;
	min-height:30px;
	padding-left:45px;
	display:block;
	font-size:16px;
	line-height:1.6;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#444;
	margin:10px 20px;
}
.blockquote.alignleft, blockquote.alignright{
	width: 40%;
}
.blockquote .cite{
	font-size:12px;
	color:#777;
	display: block;
	margin: 10px;
}
.highlight{
	background: #FF9;
}
.toggle .sign{
	font-size: 30px;
	font-family: arial;
	position: absolute;
	margin-left: -30px;color: #AAA;
}
.toggle .title{
	margin-left:30px;
	color: #777;
	cursor:pointer;
}
.toggle code{
	border: 1px solid #CCC;
	padding:20px;
	display:block;color: #555;
	font-family:"Courier New", Courier, monospace;
	background:url(images/code.png);
	margin-left:20px;
}

/* SHORTCODE > Contact Form ================================================================*/
.atom_contactform input[type='text'], .atom_contactform textarea{
	width:60%;
	padding:6px;
	color:#333;
	border: 1px solid #CCC;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.atom_contactform p{
	margin:10px 0;
}
.atom_contactform textarea{
	width:95%;
	height:250px;
}
.atom_contactform label{
	margin-left:10px;	
}
.atom_contactform .required{
	color:#C00;
	font-weight:bold;
}

/* SHORTCODE > Gallery ================================================================*/
.gallery img{
	background:#fff;
	padding:3px;
	border:1px solid #aaa !important;
	box-shadow:1px 1px 2px #333;
}

/* SHORTCODE > Table ================================================================*/
table.style1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: white;
	width: 98%;
	border-collapse: collapse;
	text-align: left;
	margin: 20px;
}
table.style1 th{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	border-bottom: 2px solid #6678B1;
	padding: 10px 8px;
}
table.style1 td{
	border-bottom: 1px solid #CCC;
	color: #669;
	padding: 6px 8px;
}

table.style2 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	width: 98%;
	text-align: left;
	border-collapse: collapse;
	margin: 20px;
}
table.style2 th{
	font-weight: normal;
	font-size: 13px;
	color: #039;
	background: #B9C9FE;
	padding: 8px;
}
table.style2 td{
	background: #E8EDFF;
	border-top: 1px solid white;
	color: #669;
	padding: 8px;
}
table.style2 tbody tr:hover td {
	background: #D0DAFD;
}

/* WIDGET > TF Recent Posts ==========================================================*/
.tf_recent_posts li{
	background:none !important;
	padding-left:0 !important;
	border-bottom:none !important;
}
.tf_recent_posts img{
	border:1px solid #fff;
	box-shadow:0px 0px 2px #000;
	float: left;
	margin-right: 10px;
}
.tf_recent_posts .title{
	font-weight:bold;
	margin-bottom:3px;
}

/* WIDGET > TF Contact Info ==========================================================*/
.tf_contact_info li{
	border-bottom:none !important;
	padding-left:20px !important;
	padding-bottom:0 !important;
	margin-left:5px !important;
	list-style:none !important;
}
.tf_contact_info .mobile{
	background:url(images/mobile.png) no-repeat 0px 4px !important;	
}
.tf_contact_info .mail{
	background:url(images/mail.png) no-repeat 0px 4px !important;
}
.tf_contact_info .address{
	background:url(images/address.png) no-repeat 0px 4px !important;
}

/* WIDGET > TF Contact Us ==========================================================*/
.tf_contact_us li{
	background:none !important;
	padding:0 !important;
	border: none !important;
}
.tf_contact_us textarea{
	height:90px;
}


/* this theme supports 3rd party plugin that are in the lists of this css file */
/* PLUGIN > SyntaxHighlighter ==========================================================*/
.syntaxhighlighter {
	font-size:14px !important;
}
.syntaxhighlighter table td.gutter .line, .syntaxhighlighter table td.code .line{
	padding-top:5px !important;
	padding-bottom:5px !important;
}
.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
	color: #333 !important;
}
.syntaxhighlighter .line.alt2 {
	background-color: #EEE !important;
}









