/*
Theme Name: Manobo
Theme URI: http://themetribe.com/
Author: Themetribe Team
Author URI: http://themetribe.com/
Description: This is a new Manobo Theme with a framework 'base' from twitter bootstrap. This is a free version for customer reviews purposes only.
Version: 2.0

Tags: twitter bootstrap
Text Domain: Themetribe, Manobo
*/

@import url(http://fonts.googleapis.com/css?family=Inder);
@import url(http://fonts.googleapis.com/css?family=Noto+Serif);

/* --------------------- [ G E N E R A L ] ------------------------ */
body{background: #000;}

body{font-family: 'Inder', sans-serif;}
.widget-title,
.entry-title{font-family: 'Noto Serif', serif; font-weight: normal;}

/* --------------------- [ H E A D E R ] ------------------------ */
#header{
	background: rgba(0,0,0,0.85);
	text-shadow: 1px 1px 0px #000;
	color: #FFF;
	padding: 26px 20px 0;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	position: relative;
	z-index: 9999;
}
.sf-menu{
	float: right;
}
#site-logo{margin: 0;float: left;}
#site-title{margin: 0;}
#site-title a{
	text-decoration: none !important;
}
#site-description{
	position: relative;
	top: 10px;
}

/* ------------------ [ H e a d e r :: M E N U ] --------------- */
/* ---[ 1 s t - H i e r a r c h y ]---*/
.sf-menu li, .sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active,
.sf-menu li li{
	background: none; /*override*/
}

.sf-menu a, .sf-menu a:visited{
	border:none; /*override*/
	text-shadow: 1px 1px 0px #000;
	color: #FFF;
	text-transform: uppercase;
	text-decoration: none !important;
}
.sfHover ul li a{ color:#fff; }
.sfHover > a, .sfHover > a ul li a:hover,
.sf-menu a:hover, .sf-menu .current-menu-item > a, .current-page-ancestor > a{ color: #0088cc; }
/* ---[ 2 n d - H i e r a r c h y ]---*/
#access ul ul{
	border:1px solid rgba(255,255,255,0.2);
	background:rgba(0,0,0,0.8);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	top: 57px;
	padding: 5px 0;
	width:152px;
}
#access ul ul a{
	border: none;
	background:url(images/sep.png) no-repeat bottom;
	padding: 10px 20px;
	margin: 0;
	display: block;
	width: auto;
	text-align: left;
	line-height: 1;
	height: auto;
	text-transform: none;
	font-size: 12px;
}
#access li li:last-child a{background: none;}

/* ------------------ [ F E A T U R E D ] --------------- */
#featured{
	top: 50%;
	position: relative;
	margin-top: -160px;
}
#featured-details{margin-top:1%;}
#featured-details .row{
	position: absolute;
	top: 30%;
}
#featured-details .title{
	font-size: 50px;
	color: #fff;
	width: 960px;
	position: relative;
	z-index: 1;
	text-shadow: 1px 1px 5px #000;
	display: inline-block;
	font-family: 'Inder', sans-serif;	
}
#featured-details .excerpt{
	font-size: 15px;
	font-family: Lucida Sans Unicode, Arial;
	background: rgba(255,255,255,0.4);
	padding: 5px 10px;
	margin-top: 25px;
	position: relative;
	-webkit-box-shadow:  0px 16px 20px -16px rgba(0, 0, 0, 1);        
    box-shadow:  0px 16px 20px -16px rgba(0, 0, 0, 1);
    width:380px;
    overflow: hidden;
    color: #111;
}
#featured-details .excerpt p{position: relative;}
#featured-details .entry{ width: 400px; }
#featured-details .entry.right{ text-align: right; width: auto; }
#featured-details .right .excerpt{float: right;}
.btn-readmore{float:right;}
.home #prevslide, .home #nextslide{display: inline !important;}
#prevslide, #nextslide{z-index: 99; display: none !important;}
#products .thumb .no-featured-image{margin-bottom: 0;line-height: 162px;}

/* ------ [ F E A T U R E D :: Nav Part ] ----------------------*/
#featured-nav{
	background: rgba(0,0,0,0.85);
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-left: 0;
	border-top: 1px solid rgba(255,255,255,0.2);
	padding: 20px 0 0px;
	text-align: center;
}
#featured-nav a{
	font-size: 30px;
	font-weight: bold;
	color:#2e2e2e;	
	text-decoration: none !Important;
}
#featured-nav a:hover{color:#fff;}
#what_we_do{}
#generator{font-size: 10px; }
#progress-back{bottom: 75px;}
#supersized{ margin-left: 0; }
#screen_bg{
	background: url('images/header-overlay.png');
	min-width: 100%;
	min-height: 100%;
	display: block;
}

/* ------ [ M A I N ] ----------------------------------------*/
article{
	text-shadow: 1px 1px 0px #ccc;
}
.home #main{
	padding-top:120px;
	box-shadow: inset 0px 3px 10px #000;
}
#main{
	background: #eee url('images/bg.png');
	color: #333;
	position: relative;	
	border-top: 2px solid #fff;
	border-bottom: 2px solid #111;	
	box-shadow: inset 0px 0px 3px #000;
	margin-bottom: 10px;
	padding-top: 40px;
	min-height: 140px;
}
.home #progress-back{display: block !important;}
#progress-back{
	position: absolute !important;
	display: none !important;
}
#tagline h2{
	text-align: center;
	font-family: Inder, Georgia;
	border-bottom: 2px solid #eee;
	background: rgba(255,255,255,0.6);
	box-shadow: 0px 1px 1px #999;
	padding: 8px 0;
	border-radius: 5px;
	color: #555;
	text-shadow: 1px 1px 1px #fff;
	font-size: 22px;
}
#products h3{
	font-size: 18px;
	text-shadow: 1px 1px 0px #fff;
	color: #888;
	font-style: italic;
	text-align: center;
}
#products div {
	margin-bottom: 20px;
}
#products a.thumb{
	border: 4px solid #fff;
	box-shadow: 1px 1px 2px #333;
	display: block;
	overflow: hidden;
	position: relative;
	text-decoration: none !important;
}
#products a.thumb .frame{
	width: 100%;
	display: inline;
	position: absolute;
	height: 100%;
	background-color: #0088cc;
	opacity:0.1;
	box-shadow: inset 0px 0px 6px #000;
}
#products a.thumb .view{
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 14px 24px;
	color: #fff;
	margin-left: -25px;
	margin-top: -25px;
	text-indent: -999px;
	background: url(images/zoom.png) no-repeat rgba(0,0,0,0.5) center;	
	display: none;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}

/* blog */
#breadcrumbs{
	margin-bottom: 10px;
	text-shadow: 1px 1px 0px #fff;
}
#content{
	width:640px;
	float: left;
	margin-bottom: 20px;
}
.entry-thumb img{
	background: #fff;
	padding: 3px;
	box-shadow: 0px 0px 2px 0px #000, 0px 11px 4px -10px #000;
}
.entry-title{
	text-shadow:1px 1px 1px #fff;	
}
.entry-title a:hover{
	text-decoration: none;
}
.entry-content{
	border-top: 1px solid #fff;
	box-shadow: 0px -1px 0px 0px #ccc;
	padding-top: 10px;
	font-size: 14px;
}
.page-template-page-blog-php #main article{
	margin-bottom: 30px;
}
#content .entry-thumb{margin-bottom: 10px;}
.blog-left-sidebar #content{ float: right; }

/*home*/
#product-details{z-index: 10000;}
.modal-body .thumbs{
	margin:auto;
	text-align: center;	
}
.modal-body .thumbs img{
	border: 5px solid #ddd;
	height: 30px;
	width: 30px;
	margin:3px;
}
.modal{
	width:610px;
}

/* ------ [ single ] ----------------------------------------*/
.single .entry-thumb{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 20px;
}

/* ------ [ Product Page ] ----------------------------------------*/
.default_product_display {
	clear: both;
	display: inline-block;
	width: 288px;
	vertical-align: top;
	background: #fff;
	border: 1px solid #ccc;
	border-bottom: 4px solid #ccc;
	height: 280px;
}
.page-template-page-products-php #products {
	border-top: 1px dashed #bbb;
	margin-top: 30px;
}
.product-name{
	text-align: center;
}
.page-template-page-products-php #products .span3{
	padding: 10px 0;
}
.more-soon{
	background: #eee;
	height: 173px;
	line-height: 50px;
	color: #777;
	font-size: 20px;
	display: table;
	margin-top: 10px;
}
.more-soon p{
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
}

/* ------ [ Checkout Page : Override from wp-ecommerce plugin ] ----------------------------------------*/
#checkout_page_container {
	width: auto;
}
#checkout_page_container {
	background: #fff;
	padding: 10px 25px;
	border: 1px solid #bbb;
	margin-bottom: 40px;
	border-bottom-width: 3px;
}
#checkout_page_container table.checkout_cart{
	border: 1px solid #dddddd;
}
#content #checkout_page_container table.checkout_cart tr.product_row td, #content #checkout_page_container table.checkout_cart tr.product_row{
	padding: 10px;
}
.wpsc_checkout_table_totals {
	float: right;
}
#checkout_total {
	margin-left: 10px;
	font-weight: bold;
}
.wpsc_checkout_forms .wpsc_checkout_table {
	display: inline-block;
	margin: 40px;
}
.wpsc_checkout_forms .wpsc_checkout_table td{
	padding-bottom: 5px !important;
}
#checkout_page_container .wpsc_make_purchase{
	text-align: right;
}
#checkout_page_container .wpsc_make_purchase{
	float: none;
}
.wpsc_email_address p {
	margin-left: 70px;
}
#wpsc_checkout_gravatar {
	position: absolute;
	top: 0px;
	left: 0;
}
div.wpsc_email_address {
	border-bottom: 2px solid #eee;
	padding-bottom: 20px;
	position: relative;
}
.entry-content table, .excerpt table{
	background: #fff;
}

/* ------ [ N A V I G A T I O N ] ----------------------------------------*/
#page-navi {
	text-align: center;
	margin-bottom: 20px;
}
#page-navi a, #page-navi span{
	border-bottom: 2px solid #eee;
	background: rgba(255,255,255,0.6);
	box-shadow: 0px 1px 1px #999;
	border-radius: 3px;
	color: #555;
	padding: 3px 8px;
	text-transform: uppercase;
	font-size: 12px;
}

/* ------ [ COMMENTS ] ---------------*/
#comments{
	background: #eee;
	border-top: 4px double #ccc;
	padding: 10px;
	margin-top: 10px;
	color: #555;
}
#comments-title{
	font-size: 18px;
	margin-top: 0;
	font-style: italic;
	color: #555;
	text-shadow: 1px 1px 0px #fff;
}
.commentlist{
	list-style: none;
	margin-left: 0;
}
.pingback {
	font-size: 12px;
	margin-bottom: 7px;
}
.pingback p{
	margin:0;
}
li.comment {
	padding: 5px 10px;
	border-top: 1px dashed #ccc;
	border-left: 1px dashed #ddd;
}
.comment-author img{
	border: 5px solid #eee;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
}
.comment article{
	text-shadow:none;
	font-size: 12px;
}
.comment span{
	font-weight: bold;
}
.comment-content {
	margin-top: 10px;
}
.reply a {
	font-size: 12px;
	padding: 0px 10px;
	text-transform: uppercase;
	float: right;
}
.comment .children {
	list-style: none;
	background: #fefefe;
}
.comment .children li {
	border: none;
}
.comment .children article {
	border: none;
	border-bottom: 1px dashed #ddd;
}
.comment blockquote {
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 10px;
}
.comment blockquote p{
	font-size: 12px;
}
.comment blockquote blockquote{
	margin-bottom: 0;
}
.required{
	color: #d14;
	margin-right: 10px;
}
#respond input[type='text'], #respond textarea {
	width: 90%;
	padding: 10px;
	margin-bottom: 0;
}
#url, #comment {
	margin-left: 19px;
}
code {white-space: normal;}

/* ------ [ S I D E B A R ] ----------------------------------------*/
#sidebar{
	font-size: 12px;
	width:255px;
	float: right;
	margin-left: 10px;
}
#sidebar .widget-title{
	margin-top: 0;
	font-size: 20px;
	margin-bottom: 0;
}
#sidebar li{
	list-style: none;
	padding-bottom: 10px;
}
#sidebar ul{
	margin-left: 0;
}
#sidebar a:hover{
	text-decoration:none;
}
#sidebar .recentcomments {
	background: url(images/recentcomments-li.png) no-repeat 0px 6px;
	padding-left: 18px;
}

/* ------ [ F O O T E R ] ----------------------------------------*/
#footer-widgets{
	background: rgba(0,0,0,0.7);
	color: #aaa;
	box-shadow: 20px 0 20px #000;
}
#footer-widgets .xoxo{
	list-style: none;
}
#footer-widgets .widget-title{
	font-size: 17px;
	color:#0088cc;
	text-transform: capitalize;
	border-bottom: 1px solid #0088cc;
}
#footer-widgets .xoxo ul{
	margin-left: 0;
	list-style: none;
}
#footer-widgets .xoxo ul li{
	font-size: 12px;
	padding: 3px 0;
}
#footer-widgets .xoxo ul li a{
	color: #aaa;
}

#site-generator {
	float: left;
	margin-left: 20px;
	margin-top: 15px;
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;
}
#footer-menu{
	float: right;
	margin-top: 15px;
	margin-right: 20px;
	font-size: 12px;
}
#footer-menu a{
	color:#fff;
	padding: 0 6px;
}
#footer-menu a:hover{
	color:#0088cc;
}

