/*
Theme Name: Mangyan Theme
Theme URI: http://www.themetribe.com
Version: 1.0
Description: A Premium Version of Mangyan Theme by Themetribe.
Author: ThemeTribe
Author URI: http://www.themetribe.com
Tags: two-columns, fixed-width, threaded-comments, sticky-post, microformats, white, custom-menu, featured-images, full-width-template, post-formats, theme-options, photoblogging
*/
@import url(http://fonts.googleapis.com/css?family=Share:400,400italic,700,700italic);

.wp-caption-text, .sticky, .gallery-caption, .bypostauthor{}

.alignright{
	float:right;
	margin-left:16px;
	margin-bottom:16px;
}
.alignleft{
	float:left;
	margin-right:16px;
	margin-bottom:16px;
}

body{
	background:url(images/bg.png);
}
input[type='text'],textarea{
	padding:5px 10px 6px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 2px solid #CCC;
}

/* ....................................................................... [ Fonts */
#access1{font-size:13px;}
#site-title a{font-size: 40px;}
#access1{font-family:Verdana, Geneva, sans-serif;}
#page-title, .widget-title, .title, #reply-title, #access2 strong, .nivo-caption, 
h1, h2, h3, h4, h5, h6,
#blurbs .title a{font-family: 'Share', cursive;}
.hentry, #access2 span, #access2 li.sfHover li a, #breadcrumb, #post-navi, .blurb, #comments, #sidebar,
.wp-pagenavi .page-numbers, .wp-pagenavi .current, #site-generator, #latest-posts .entry-title{font-family:Arial, Helvetica, sans-serif;}

/* ....................................................................... [ Colors */
#access1 a{color: #777;}

/* ....................................................................... [ Typography */
h1 { font-size: 40px; }
h2 { font-size: 35px; }
h3 { font-size: 25px; }
h4 { font-size: 22px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }
h1, h2, h3, h4, h5, h6 {
	padding-bottom: 5px;
	margin:10px 0 10px;
}
ul li{
	list-style:inside;
	margin-left:10px;
}
em {font-style:italic;}
strong {font-weight: bold;}

/* ....................................................................... [ Option Previewer */
#control-toggle{
	background:rgba(255,255,255,0.9) url(images/control.png) no-repeat center;
	width:36px;
	height:40px;
	display:block;
	cursor:pointer;
	position:absolute;
	right:-37px;
	top:10px;
	border-top:1px solid #555;
	border-right:1px solid #555;
	border-bottom:1px solid #555;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
#theme-settings-preview{
	width:155px;
	padding-bottom:10px;
	padding-left: 10px;
	background:rgba(255,255,255,0.9);
	position:absolute;
	top:100px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	box-shadow:0px 0px 5px #000;
}
#theme-settings-preview .atom_button{
	cursor:pointer;
	font-size:12px;
	font-weight:normal;
	background-color:#333;
	border:1px solid #333;
	box-shadow:none;
	margin-top:10px;
	margin-left:6px;
	width:110px;
}
.background-pattern li{list-style:none; display:inline-block; margin:5px;}
.background-pattern img{width:60px; box-shadow:1px 1px 5px #000; height:60px;}

/* ....................................................................... [ Header */
#header{
	margin-bottom:10px;
}
#site-title{margin-left: -5px;}
#site-title a{
	text-transform: uppercase;
	text-decoration:none;
	color:#9b2e2e;
}
.sf-menu {margin-bottom:0 !important;}
.sf-menu li{background:none;}


#access1{
	background: #000;
	box-shadow: 0 1px 1px #333;
	text-transform: uppercase;
}
#access1 .sf-menu{float: right;}
#access1 a {
	border: none;
	background: url(images/top-sep.png) -2px 0px no-repeat;
	padding: 12px 13px 13px;
}
#access1 li{
	background-color:transparent;
}
#access1 a:hover, #access1 .current_page_item a{color:#fff;background-position:0px;}

#branding {
	float: left;
	margin-top: 10px;
}
#ads_468X60{
	float:right;
}
#header-top{
	margin-top:15px;
	margin-bottom:10px;
}
#site-description {
	text-transform: uppercase;
	font-size: 13px;
	margin-top: 4px;
	color: #333;
}

#ads_468X60 img{
	width:468px;
	height:60px;
}

#access2 {border-bottom: 6px solid #393939; margin-top: 21px;}
#access2 ul {background: url(images/second-menu-sep.gif) right no-repeat; padding-right:1px;}
#access2 li {background: url(images/second-menu-sep.gif) #eee left no-repeat; padding-left:1px;}
#access2 li li {background:transparent;}
#access2 a {
	width: 150px;
	padding: 18px 20px 11px;
	height: 50px;	
	border: none;
}
#access2 strong {
	font-size: 18px;
	font-weight: bold;
	color: #393939;
	text-transform: uppercase;
}
#access2 span {
	display: block;
	font-size: 11px;
	color: #424242;
	margin-top: 5px;
	line-height: 14px;
}
#access2 a:hover, #access2 li.sfHover a{background:rgba(0,0,0,0.8);}
#access2 li:hover, #access2 li.sfHover{background-color:transparent;}
#access2 a:hover strong, #access2 li.sfHover strong{color:#8294ff;}
#access2 a:hover span, #access2 li.sfHover span{color:#f7f7f7;}

/*SECOND HEIRARCHY*/
#access2 ul ul{
	background:rgba(90,90,91,0.9);
	top:85px;
	width: 190px !important;
}
#access2 li.sfHover li a{
	background:url(images/dot-hor.png) repeat-x top;
	font-size:13px; 
	color:#c1c1c1; 
	line-height:40px; 
	height: auto; 
	padding: 0 20px;
}
#access2 li li a:hover{color:#fff;background-color:rgba(0,0,0,0.5);}

#header-banner-img{
	background:url(images/header-banner.png) no-repeat center;
	height:136px;
	width:950px;
	overflow:hidden;
}
#header-banner{
	background:#fff;
	box-shadow: 0px 0px 5px #cccaca;
	padding:5px;
	width: 950px;
	position:relative;
}
#breadcrumb{
	background-color: rgba(87,168,63,0.7);
	padding:10px 20px 10px 30px;
	display: inline-block;	
	font-size:12px;
	color:#fff;
	font-weight:bold;
	position:absolute;
	top:40px;
}
#breadcrumbs{margin-top: 10px; font-size:14px;}
#breadcrumbs a, #breadcrumbs{ font-style:italic; font-weight:normal; color:#fff; text-decoration:none;}
#breadcrumbs a:hover{border-bottom:1px dotted #fff;}
#page-title{font-size:30px; margin:10px;}

#post-navi{font-size:12px; color:#2a2a2a; ;position: absolute;bottom: 20px; right:20px;}
#post-navi .nav-next{float:right;}
#post-navi .nav-prev{float: left; margin-right:10px; padding-right:10px; border-right:1px solid #444;}
#post-navi a{color:#2a2a2a; text-decoration:none;}
#post-navi a:hover{border-bottom:1px solid #333; padding-bottom:1px;}

/* ....................................................................... [ Home */

#intro-page {margin-bottom:10px;}
#intro-page .title{font-size:30px;}
#intro-page .hentry{font-size:14px; margin-left:10px; background:none; border:none; box-shadow:none; padding:0; min-height:inherit; margin-bottom:0;}

#blurbs{margin-top:10px; margin-left:10px;}
.blurb{
	display:inline-block;
	width:270px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	font-size:12px;
	text-align:justify;
}
#blurbs .title a{text-transform:uppercase;font-size:24px; color:#000; text-decoration:none;}
#blurbs .title a:hover{color:#002096;}
.blurb-description{width: 190px; float:right;}
.blurb-thumb{margin-top: 10px;}

#latest-posts, #latest-posts .entry-title{font-size:12px;}
#latest-posts .entry{margin-top:5px;}
#latest-posts .title{font-size:24px; margin-bottom: 0; padding-bottom: 0;}
#latest-posts .entry-thumb{padding:2px;border:1px solid #c9c8c9;background:#fff;float:left; margin-right:5px; margin-bottom:5px;}
#latest-posts .entry-title{font-weight:bold; margin:0; padding:0;}
#latest-posts .entry-excerpt{margin-top: -3px; font-size:12px;margin-bottom: 0;}
#latest-posts a:hover .entry-title, #latest-posts a:hover .entry-thumb{color:#002096;border-color:#002096;}

/* ....................................................................... [ Main */

#featured{position:relative;background:url(images/loading.gif) no-repeat 50% 50%; height:415px; width: 940px;margin-bottom:10px;}
#featured a{
	display:block;
}
#featured .overlay{
	position:absolute;
	width:943px;
	height:415px;
	background:url(images/frame-feat.png) no-repeat;
	z-index:6;
}
.nivo-caption{	
	font-size:30px;
	font-weight:bold;
	bottom: 3px !important;
	position: absolute;
	left: 3px !important;
	letter-spacing:2px;
	width:893px !important;
	padding: 0 20px;
}
.nivo-caption p{margin:0px 40px 0px 20px;}
#slider{left:2px; overflow:hidden;top:2px; position:relative;}
#slider:hover .nivo-controlNav {opacity:1.0; z-index:9;}
.nivo-controlNav{position: relative;top: 320px;text-align: center; margin:auto; background:url(images/control-nav.png) center no-repeat;z-index: 7;height: 13px; width:70px; padding: 15px 13px 15px 17px; opacity:0.5}
#featured .nivoSlider .nivo-controlNav a {
	background:url(images/bullets.png) no-repeat;
	width: 11px;height: 12px;
	text-indent: -9999px;
	margin-right: 3px; 
	display:inline-block;
}
#featured .nivo-controlNav a.active {background-position:0 -12px;}
.nivoSlider img {position:absolute;top:0px;left:0px;display:none;}
.nivoSlider a{display:block;}


#content{
	float: left;
	width: 640px;
	margin-right: 10px;
}
#main {
	margin-top: 20px;
	min-height:300px
}
.hentry{
	min-height: 180px;
	padding: 10px;
	background: #fff;
	box-shadow: 0px 0px 5px #CCCACA;
	margin-bottom: 20px;
	border-bottom: 2px solid #CCC;
}
.hentry .title{
	background: url(images/line.png) repeat-x 0 50%;
	margin-top: 20px;
	margin-bottom: 10px;
}
.hentry .title a {
	font-size: 28px;
	color: #000;
	text-transform: capitalize;
	text-decoration: none;
	display: inline-block;
	background: #fff;
	padding-right: 20px;
}
.hentry img {
	border: 3px solid #fff;
	box-shadow: 0px 0px 3px #999;
}
.entry-meta{
	margin-bottom:13px;
	font-size:12px;
	color:#676565;
	margin-top:15px;
}
.entry-meta a{font-weight:bold; color:#676565; text-decoration:none;}
.entry-meta a:hover{border-bottom:1px dotted #676565;}
.post_meta_s1 span{display:block; margin-bottom:5px;}
.post_meta_s1{
	background:#656565;
	width:30px;
	height:110px;	
	color:#fff;
	text-align:center;
	padding:10px 15px 0;
	float:left;
	position:absolute;
}
.post_meta_s1 .comment{
	background:url(images/comment.png) no-repeat top;
	width:36px;
	line-height:36px;
	font-size:13px;
	font-weight:bold;
	color:#656565;
}
.post_meta_s1 .j{font-size:30px; font-weight:normal;}
.post_meta_s1 .M{font-size:14px; text-transform:uppercase;}
.post_meta_s1 a{color:#fff; text-decoration:none !important;}
.entry-meta .lbl{font-style:italic;}
.posted-in{float: right; max-width: 535px; line-height: 1.6em;margin-bottom: 5px;}
.posted-by{float: left; margin-left:85px; margin-bottom: 5px;line-height: 1.6em;}
.entry-excerpt {
	margin-left: 85px;
	font-size: 14px;
	margin-bottom: 20px;
	max-width: 520px;
	line-height:1.6;
}
.hentry .atom_button.readmore,
.comment .atom_button.readmore{
	margin-left: 85px;
	background-color: #fff;
	box-shadow: 0px 0px 2px #AAA;
	border: 1px solid #C7C7C7;
	padding:8px 30px 10px 20px;
	text-shadow: none;
	color: #444;
	font-size: 11px;
	font-weight: normal;
}
.atom_button.readmore span {
	position: absolute;
	top: 2px;
	right: 4px;
	padding-left: 5px;
	border-left: 1px solid #CFCFCF;
	height: 25px;
	line-height: 22px;
}
.atom_button.readmore:hover{text-decoration:none; color:#111;}
.atom_button.readmore:hover span{top:0; line-height:26px; height:30px; border-color:#ddd;}
#content .entry-excerpt > div, #main p, #content .entry-excerpt ul {
	padding: 10px 0;
	line-height: 1.6;
}

/* ....................................................................... [ Single */
#comments {margin-top:40px; color:#777574; font-size:14px;}
#comments a{color:#555; text-decoration:none;}
#comments a:hover{border-bottom:1px dotted #555;}
#comments .atom_button:hover{border-bottom-style:solid;}
#comments-title, #reply-title{font-size:20px; margin-bottom:15px; color: #000;}
#comments .avatar {margin-right:20px;float: left;}
#comments .fn, #comments .comment-date a{font-size: 18px; color:#777574;}
#comments .comment-date{border-left:1px solid #777; padding-left:5px;}
#comments .reply{padding: 7px 25px 8px 20px;}
.comment-notes{font-size:12px;}
#author, #email{margin-left: 30px;}
#url{margin-left: 23px;}
#comment{margin-left: 15px;}
.form-allowed-tags{font-size:11px;}
#submit{padding: 7px 20px 8px;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}
#comments li li {margin-left: 40px; list-style:none;}

/* ....................................................................... [ Page */
.page.page-template-default .entry-excerpt{
	margin-left:0;
	max-width: 100%;
}

/* ....................................................................... [ Sidebar */
#sidebar {
	color: #636363;
	font-size: 13px;
	width: 300px;
	float: right;
	margin-left: 10px;
}
#sidebar li{
	list-style:none;
}
#sidebar a {
	color: #636363;
	text-decoration: none !important;
}
.widget-title {
	font-size: 18px;
	color: #000;
	margin-bottom: 20px;
}
#sidebar li li {
	padding-left: 15px;
	margin-bottom: 3px;
	background: url(images/sidebar_li.gif) no-repeat left;
}
#sidebar li li:hover{opacity:0.5;}
#sidebar .widget-container {
	margin-bottom: 35px;
}
#sidebar .widget-container div, #sidebar .widget-container ul {
	line-height: 1.6;
}
.wp-pagenavi .page-numbers, .wp-pagenavi .current{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	width: 15px; 
	box-shadow: 0px 0px 3px #bbb;
	display: inline-block;
	text-align: center;
	height: 20px; 
	line-height:20px; 
	font-size:12px; 
	color:#b0b0b0;
	padding: 3px 5px;
	margin: 2px 5px 2px 2px;
	text-decoration:none;
	border: 1px solid #BFBFBF;
}
.wp-pagenavi .current, .wp-pagenavi a:hover{color:#000; text-decoration:none;}
.wp-pagenavi a:hover, .wp-pagenavi span.current {border-color: #000;}
.wp-pagenavi .next, .wp-pagenavi .prev{display:none;}
.wp-pagenavi span.current {font-weight: bold;}

/* ....................................................................... [ Footer */
#footer-colophon{
	border-top: 1px solid #888;
	padding-top: 20px;
	padding-bottom: 40px;
	background: #222;
	box-shadow: 0px -1px 0px #393939;
	color: #AAA;
	margin-top:10px;
}
#footer-colophon a{
	color:#fff;
	text-decoration:none;
}
#footer-colophon a:hover{
	border-bottom:1px dotted #fff;
}
#site-generator{text-align:center; font-style:italic; font-size:12px;}


/* ....................................................................... [ Widgets */
#sidebar .widget-container .ads_125x125{margin-left:0;}
#sidebar .widget-container .ads_125x125 li{
	background:url(images/ads_125x125.png) no-repeat;
	width:125px;
	height:125px;
	display:inline-block;
	padding: 0;
}
#sidebar .widget_recent_entries li{background:url(images/recent_post.gif) no-repeat left;}
#sidebar .widget-container .tagcloud{margin-left:0;}
#sidebar .tagcloud a{
	display:inline-block;
	background:#e7e7e8;
	border:1px solid #ccc;
	padding:10px;
	padding: 5px 8px;
	margin-bottom: 5px;
}
#sidebar .tagcloud a:hover{
	background-color:#aaa;
	border-color:#888;
	color:#fff;
}
